<template>
	<div class="Content Larger Dashboard">
		<a href="#" @click.prevent="toggleSidebar" class="ui button Gold MobileSidebarToggle" v-html='toggleButtonText'></a>
		<div class="Left Sidebar">
			<div class="SidebarInternal">
				<div class="ui fluid accordion vertical menu" id="categoriesSidebar">
					<div class="item">
						<div class="ui small header">CATEGORIES</div>
					</div>
						<div class="item" v-for="category in categories">
							<div class="title">
								
								<router-link :to="{name: 'singleCategory', params: {id:category.id}}" style="color:#222">
									{{ category.category_name }}
								</router-link>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="Right Content">
			<h1 style="padding-bottom:1em; font-weight: 600">Brands</h1>
			<div class="ui four stackable doubling cards">
				<router-link :to="{name: 'singleBrand', params: {id: brand.id} }" class="ui card" v-for="brand in brands" :key="brand.id">
					<div class="image">
					    <img :src="typeof brand.brand_img == 'undefined' ? '/src/assets/default_products_big.jpg' : brand.brand_img" alt="">
					  </div>
					  <div class="extra content" style="max-height:20%">
					    <a class="header">{{ brand.brand_name }}</a>
					  </div>
				</router-link>
			</div>
		</div>
	</div>
</template>
<script>
	import PerfectScrollbar from 'perfect-scrollbar';
	export default {
		name:'catalogueView',
		data () {
			return {
				categories: [],
				brands: {},
				toggleButtonText: 'Categories'
			}
		},
		created() {
			this.getCategories()
			this.getBrands()
			this.$nextTick(function() {
				$('#categoriesSidebar').accordion({
					exclusive: false,
					selector: {
				      trigger: '.title .icon'
				    }
				});
				const container = document.querySelector('.Left.Sidebar');
				const ps = new PerfectScrollbar(container);
			})
		},
		beforeDestroy() {
			this.$nextTick(function() {
				$('body').removeClass('showingPageSidebar');
			})
		},
		methods: {
			getCategories: function () {
				this.$http
					.get(api_host + '/categories',
					{
						headers: {'Authorization': this.$store.state.token }
					}
				)
				.then(
					function(response){
						this.categories = response.body
						$('#categoriesSidebar').accordion('refresh');
					},
					function(error){
						this.error = true
					}
				)
			},
		    toggleSidebar () {
		    	$('body').toggleClass('showingPageSidebar');
		    	this.toggleButtonText = this.toggleButtonText === 'Categories' ? "<i class='icon remove'></i>" : 'Categories'
		    },
		    getBrands: function() {
		    	this.$http
		    		.get(api_host + '/brands', 
		    			{	
		    				headers: {'Authorization': this.$store.state.token}
		    			}
		    		)
		    		.then(
		    				function(response) {
		    					this.brands = response.body
		    				}, 
		    				function(error) {
		    					this.error = true
		    				}
		    			)
		    },
		}
	}
</script>