<template>
	<router-view :key="name"></router-view>
</template>
<script>
	export default {
		data () {
			return {
				name: 'Catalogue'
			}
		},
		beforeCreate() {
			if(!this.$store.state.user) {
				this.$router.push({name:'unauthorized'});
			}
		},
	}
</script>