<template>
	<div>
		<div class="Content">
				<div class="column" style="padding:50px">
					<h1 style="margin-bottom:1em">
						{{category.category_name}}
					</h1>
					<product-grid-component :products="products" :loading="loadingProducts"></product-grid-component>
				</div>
		</div>
	</div>
</template>
<script>
	import PerfectScrollbar from 'perfect-scrollbar';
	import ProductGridComponent from 'products/ProductGridComponent.vue';
	export default {
		data () {
			return {
				category: {},
				products: {},
				selectedFilters: {},
				toggleButtonText: 'Filters',
				heading: '',
				loadingProducts: false,
				sort_by: 'id',
				sort_order: 'desc',
				sideBarOpen: false
			}
		},
		components : { ProductGridComponent },
		created() {
			this.getCategory()
			this.$nextTick(function() {
				const container = document.querySelector('.Left.Sidebar');
				const ps = new PerfectScrollbar(container);
			})
		},
		beforeDestroy() {
			this.$nextTick(function() {
				$('body').removeClass('showingPageSidebar');
			})
		},
		methods: {
			getCategory () {
				this.$http
					.get(api_host + '/categories/' + this.$route.params.id, {headers : { 'Authorization' : this.$store.state.token }})
					.then (
						function(response) { 
							this.category = response.body
							this.products = response.body.products
							this.heading = this.category.category_name
						},
						function(error) { console.log(error) }
					)
			}
		}
	}
</script>