<template>
		<div class="Content">
				<div class="column" style="padding:50px">
					<h5 style="margin-bottom:1em">
							{{brand.brand_name}}
					</h5>
					<product-grid-component :products="products" :loading="loadingProducts"></product-grid-component>
				</div>
		</div>
	</div>
</template>
<script>
	import ProductGridComponent from 'products/ProductGridComponent.vue';
	import JSURL from 'jsurl';
	export default {
		data () {
			return {
				brand: {},
				products: {},
				selectedFilters: {},
				toggleButtonText: 'Filters',
				heading: '',
				loadingProducts: false,
				sort_by: 'id',
				sort_order: 'desc',
				sideBarOpen: false
			}
		},
		components : { ProductGridComponent },
		created() {
			if(this.$route.params.filters) {
				this.selectedFilters = JSURL.parse(this.$route.params.filters)
			}
			this.geBrand()
			this.$nextTick(function() {
				const container = document.querySelector('.Left.Sidebar');
				$('#SortingMenu').dropdown({
					action: 'activate'
				});
			})
		},
		beforeDestroy() {
			this.$nextTick(function() {
				$('body').removeClass('showingPageSidebar');
			})
		},
		methods: {
			openSidebar () {
				$('body').addClass('showingPageSidebar');
				this.sideBarOpen = true
			},
			toggleSidebar(val) {
				this.sideBarOpen = val
			},
			geBrand () {
				this.$http
					.get(api_host + '/brands/' + this.$route.params.id, {headers : { 'Authorization' : this.$store.state.token }})
					.then (
						function(response) { 
							console.log(response)
							this.brand = response.body
							this.products = response.body.products
							this.heading = this.brand.brand_name
						},
						function(error) { console.log(error) }
					)
			}
		}
	}
</script>