<template>
	<!-- HS: Does this load all products at once? -->
	<!-- HS: Need to implement load more feature here -->
	<div class="Content Larger Dashboard">
				<div class="Left Sidebar FullScreen">
					    <div class="SidebarInternal">
					    	<all-products-sidebar
					    	v-on:setFilters = 'setFilters'
					    	v-on:resetFilters = 'resetFilters'
					    	>
					    	</all-products-sidebar>
					    </div>
				</div>
				<div class="Right Content" style="padding-bottom:0em">
					<div class="ui grid">
						<div class="row ContentHeader">
						  <div class="sixteen wide column">
						    <h1>All Products
						    <!-- HS: Button styling was incorrect -->
						    
						    </h1>
						  </div> 
						</div>
						<div class="row ContentStuff">
			              	<div class="sixteen wide column">
			                  	<div class="ui segment red" v-if="!products.length && !loadingProducts">
			                  		No Products found.
			                  	</div>
			                    <div class="ui five doubling cards" v-if="products.length">
			                    	<!-- HS: Product row was too lengthy. Should have been a separate component -->
			  	                    <product-row v-for="product in products" :product='product' v-on:changeProductsArray = 'changeProductsArray'></product-row>
			                    </div>
				                <div class="" style='margin-top:1em;' v-if="products.length" v-show="showMore">
				                	<a 
				                		href="#" 
				                		@click.prevent='loadMore' 
				                		class="ui basic button"
				                		:class="{ loading: loadingProducts }"
				                	>
				                		Load More
				                	</a>
				                </div>
				                <div class="ui basic segment" v-show="!showMore">
				                	<div class="ui twelve column phone five column computer grid">
				                	  	No More Products
				                	</div>
				                </div>
			              	</div>  
						</div>
					</div>
				</div>
	</div>
</template>

<script>	
import AllProductsSidebar from 'products/AllProductsSidebar.vue'
import ProductRow from 'products/ProductRow.vue'
import PerfectScrollbar from 'perfect-scrollbar';

export default {
	data () {
		return {
			products: new Array(),
			offset: 0,
			chunk: 24,
			refresh: false,
			searching: false,
			loadingProducts: false,
			showMore: true,
			sideBarOpen: false,
			user:{},
			filterType: '',
			filter:''
		}
	},
	components: { AllProductsSidebar, ProductRow },
	computed: {
		getProductsUrl() {
				return api_host + '/products'
		}
	},
	beforeCreate() {
		if(!this.$store.state.user) {
			this.$router.push({name:'unauthorized'});
		}
	},
	created () {
		this.getProducts();
		this.user = this.$store.state.user
	},
	mounted() {
		this.$nextTick(function() {
			const container = document.querySelector('.Left.Sidebar');
			const ps = new PerfectScrollbar(container);
		})
	},
	methods: {
		getProducts: function () {
			if(this.refresh) {
				this.offset = 0
				this.showMore = true
			}
			this.loadingProducts = true
			this.searching = true
			this.$http
				.get(this.getProductsUrl,
				{
					params:{
						offset: this.offset,
						chunk:this.chunk,
					},
					headers : { 'Authorization' : this.$store.state.token}
				}
			)
			.then(
				function (response) {
					this.searching = false
					if(response.body.length == 0) {
						this.showMore = false
					}
					if(this.refresh) {
						this.products = response.body
						this.showMore = true
						this.refresh = false
					} else {
						for (var x in response.body) {
							this.products.push(response.body[x])
						}
					}
					this.offset = this.offset+response.body.length;
					this.loadingProducts = false
				},
				function (err){
					console.log(err)
					this.searching = false
				}
			)
		},
		setFilters(type, value) {
			this.filterType = type
			this.filter = value
			this.refresh = true
			this.getProducts()
		},
		resetFilters() {
			this.filterType = ''
			this.filter = ''
			this.refresh = true
			this.getProducts()
		},
		loadMore: function () {
			this.getProducts()
		},
		changeProductsArray(id){
			console.log('ere')
			for (var i=0;i< this.products.length;i++){
				if(this.products[i].id == id){
					this.products.splice(i,1);
					break;
				}
			}
		}
	}
}
</script>
