<template>
	  <div class="ui fluid vertical accordion menu" id="filters" style="position: relative">
	  	<div class="item clearfix" v-if="filterType == 'search'">
	  		<a href="#" class="right aligned" @click.prevent='removeFilter'>
	  			<i class="remove icon"></i>
	  		</a>
	  		Searching for: "{{filter}}"
	  	</div>
	  	<div class="item clearfix" v-if="filterType == 'category'">
	  		<a href="#" class="right aligned" @click.prevent='removeFilter'>
	  			<i class="remove icon"></i>
	  		</a>
	  		Category: "{{filter.category_name}}"
	  	</div>
	  	<div class="item clearfix" v-if="filterType == 'collections'">
	  		<a href="#" class="right aligned" @click.prevent='removeFilter'>
	  			<i class="remove icon"></i>
	  		</a>
	  		Brand: "{{filter.brand_name}}"
	  	</div>
	    <div class="item">
      	  <form action="#" @submit.prevent='setFilters("search",searchText)'>
	      	<div class="ui fluid action input">
	      	  	<input v-model="searchText" type="text" placeholder="Search by design #"  :disabled = 'searching'>
	      	  	<button class="ui icon button"><i class="search icon"></i></button>
	      	</div>
      	  </form>
	    </div>
	    <div class="item">
	    <div class="ui small header">Brands</div>
	    </div>
	    <div class="item" v-if="brands.length != 0">
	      <div class="menu">
	        <a 
	        	class="item"
	        	:class="{active: filter.name == brand.brand_name}"
	        	v-for="brand in brands" 
	        	:id="'coll'+brand.id" 
	        	@click.prevent='setFilters("collections",collection)'
	        	v-html="brand.category_name"
	        >
	        </a>
	      </div>
	    </div>
	    <div class="item" v-else>
			<i>No brands</i>
	    </div>
		<div class="item">
		<div class="ui small header">Categories</div>
		</div>
		<div class="item" v-if="category.parent_id == -1" :key="category.id" v-for="category in categories">
			<div class="title">
				<i class="dropdown icon" v-if="category.children.length != 0"></i> 
				<a href='#' @click.prevent='setFilters("category",category)' :to="{name: 'singleCategory', params: {id:category.id}}" style="color:#222">
					{{ category.category_name }}
				</a>
			</div>
			<div class="content" v-if="category.children.length != 0">
				<a href='#' @click.prevent='setFilters("category",subcategory)' class="item" v-for="subcategory in flat(category.children)" :key="subcategory.id" v-html="subcategory.levelName">
				</a>
			</div>
		</div>

	    <a href="#" @click.prevent="openSidebar" class="ui button MobileSidebarToggle Gold" v-if="!sideBarOpen">Filters</a>
	    <a href="#" @click.prevent="closeSidebar" class="ui button MobileSidebarToggle Gold" v-if="sideBarOpen"><i class="remove icon"></i></a>
	  </div>
</template>
<script>
	export default{
		props: ['searching'],
		data () {
			return {
				categories:{},
				brands: {},
				searchText:'',
				filterType: '',
				filter: '',
				sideBarOpen: false
			}
		},
		created () {
			this.getCategories();
			this.getBrands();
		},
		mounted() {
			this.$nextTick(function() {
				$('#filters').accordion({
					exclusive: false,
					selector: {
				      trigger: '.title .icon'
				    }
				});
			})
		},
		methods:{
				closeSidebar () {
					$('body').removeClass('showingPageSidebar');
					this.sideBarOpen = false
				},
				openSidebar () {
					$('body').addClass('showingPageSidebar');
					this.sideBarOpen = true
				},
				flat(items, depth) {
					if (typeof depth == 'number')
					        depth++;
					    else
					        depth = 1;

			        if(typeof items !== 'undefined') {
			        		var final = []
			        		var self = this
			        		console.log(items)
			        		items.forEach( function(item) {
			        			var n = item.brand_name
			        			for(var i=0; i<=depth-2; i++) {
			        				n = '<span style="color: #ccc; margin-right: .3em">•</span>' + n
			        				// n = '<i class="right chevron icon"></i>' + n
			        			}
			        			item.levelName = n
			        		    final.push(item)

			        		    if (typeof item.children !== 'undefined') {
			        		        final = final.concat(self.flat(item.children, depth));
			        		    }
			        		})

			        		return final;
			        } else {
			        	return new Array();
			        }
			    },
				getCategories: function () {
					this.$http
						.get(api_host + '/categories',
						{
							headers: {'Authorization': this.$store.state.token }
						}
					)
					.then(
						function(response){
							this.categories = response.body
						},
						function(error){
							console.log('categories - error')
						}
					)
				},
				getBrands: function () {
					this.$http
						.get(api_host + '/brands',
						{
							headers: {'Authorization': this.$store.state.token }
						}
					)
					.then(
						function(response){
							this.brands = response.body
						},
						function(error){
							console.log('collections - error')
						}
					)
				},

				setFilters: function(type, value) {
					this.filterType = type
					this.filter = value
					this.$emit('setFilters', this.filterType, this.filter)
					this.closeSidebar()
				},
				removeFilter () {
					this.filterType = ''
					this.filter = ''
					this.searchText = ''
					this.$emit('resetFilters')
					this.closeSidebar()
				}
		}
	}
</script>