<template>
	<div style="position: relative">
		<div class="ui inverted dimmer active" v-if="loading" style="background-color:rgba(0,0,0,0)">
			<div class="ui loader text">Fetching Products</div>
		</div>
		<div class="ui three doubling cards" v-if="products.length">
			<div class="ui card ProductCard" v-for="product in products" :key="product.id">
			  <router-link :to="{name: 'singleProduct', params: {id: product.id}}" class="ui image">
			    <img :src="typeof product.img == 'undefined' ? '/src/assets/default_products_big.jpg' : product.img">
			  </router-link>
			  <a href='#' class="content">
			    <!-- <div>Design {{product.name}}</div> -->
			    <div class="meta" v-if="!isMobile">
			    	SKU: {{product.sku}}
			    </div>
			    <div class="meta">
			    	Price: €{{product.price}} 
			    </div>
			    <div class="meta" v-if="product.is_warranty_available">
			    	Extended Warranty 
			    </div>
			    <div class="meta" v-if="product.is_finance_available">
			    	Finance Available
			    </div>
			    <div class="ui bottom attached button">

			          <i class="buy icon"></i>
			        	<a :href="product.more-info">Buy Now</a> 	
			        </div>
			    
			  </a>
			  <add-to-wishlist-component @wishlistChanged="wishlistChanged" :productId="product.id" v-if="user"></add-to-wishlist-component>	
			</div>
		</div>
		<div v-else>
			<div class="basic ui segment centered">
				No products here
			</div>
		</div>
	</div>
</template>
<script>
	import Noty from 'noty'
	import AddToWishlistComponent from 'wishlist/AddToWishlistComponent.vue'	
	export default {
		props: ['products', 'loading'],
		data () {
			return {
				used:{}
			}
		},
		computed: {
			isMobile () {
				return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1 || window.innerWidth < 768);
			}
		},
		created () {
			this.user = this.$store.state.user
		},
		methods: {
			wishlistChanged: function (type, productId) {
				new Noty({
				  type: 'success',
				  layout: 'topRight',
				  timeout: 500,
				  text: 'Product ' + type
				}).show()
			}
		},
		components: {AddToWishlistComponent}
	}
</script>