<template>
	<div class="ui small card ProductCard">
		<div class="ui circular image">
			    <img :src="typeof product.img[0] == 'undefined' ? '/src/assets/default_products_big.jpg' : product.img" alt="">
			  </router-link>
		</div>
		<div class="ui content">
			{{product.name}}
			</router-link>
		</div>

	</div>
	
</template>
<style>
	.meta {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
</style>
<script>
	export default {
		props: ['product'],
		data () {
			return {
				user:{

				}
			}
		},
		computed: {
		},
		created() {
			this.user =this.$store.state.user
		},
		methods: {
			
		}
	}
</script>