<template>
	<div class="Content Larger" v-if="user.role.view_product">
	  <div class="ui container">
	    <div class="ui grid">
	      <div class="row ContentHeader">
	        <div class="sixteen wide column">
	          <h1>Product Catalogue
	          <router-link 
	          	class="ui icon labeled Gold button" 
	          	:to="{name: 'addProducts'}"
	          	v-if="user.role.upload_product"
	          >
	          	<i class="plus icon"></i>Add
	          </router-link>
	          </h1>
	        </div>
	      </div>
	      <div class="ui left menu vertical sidebar dimmable overlay" id="Filters">
	      	<categories-component 
	      		:searching='searching' 
	      		@searchProducts="updateSearchQuery" 
	      		@removeSearchQuery='removeSearchQuery'
	      		@categorySelected="updateSelectedCategory"
	      		@removeSelectedCategory='removeSelectedCategory'
	      		@stoneSelected='updateSelectedType'
	      		@removeSelectedStone='removeSelectedType'
	      	></categories-component>
	      </div>
	      <a href="#" @click.prevent="toggleFilters" class="ui Gold button" id="FilterButton">
	      	Filters
	      </a>
	      <div class="row ContentStuff">
	      	<div class="sixteen wide phone four wide computer column" id="DesktopFilters">
	      		<div  class="ui sticky vertical fluid menu">
	      			<categories-component 
	      				:searching='searching' 
	      				@searchProducts="updateSearchQuery" 
	      				@removeSearchQuery='removeSearchQuery'
	      				@categorySelected="updateSelectedCategory"
	      				@removeSelectedCategory='removeSelectedCategory'
	      				@stoneSelected='updateSelectedType'
	      				@removeSelectedStone='removeSelectedType'
	      				id="filtersDesktop"
	      			></categories-component>
	      		</div>
	        </div>
	        <div class="sixteen wide phone twelve wide computer column" id="DesktopProducts" >
	          <div class="ui three stackable cards" v-if="products.length">
	            <div class="ui card ProductCard" v-for="product in products" >
	              <router-link :to="{name: 'singleProduct', params: {id: product.id}}" class="ui image">
	                <img :src="typeof product.imagesgallery[0] == 'undefined' ? '/src/assets/default_products_big.jpg' : product.imagesgallery[0].thumbnail_url">
	              </router-link>
	              <a href='#' class="content">
	                <div class="header">{{product.Name}}</div>
	                <div class="meta">
                        <span class="date" v-for="category, index in product.productcategories">{{category.Name}}
      						<span v-if="index != product.productcategories.length-1">,</span>
                        </span>
	                </div>
	              </a>
	              <add-to-wishlist-component @wishlistChanged="wishlistChanged" :productId="product.id" v-if="this.$store.state.user.role.share_product"></add-to-wishlist-component>	
	            </div>
	          </div>
	          <div class="ui red segment" v-if="!products.length && !loadingProducts">
	          	No products matched your selection.
	          </div>
	          <div class="loadMore" style="position: relative" v-if="showMore">
	            <a 
	            	href="#" 
	            	class="ui button LoadMore Round Centered"
	            	:class="{loading: loadingProducts}" 
	            	@click.prevent="loadMore"
	            >
	            		Load More
	            </a>
	          </div>
	          <div class="ui basic segment" v-show="!showMore">
	          	<div class="ui five column centered grid">
	          	  	No More Products
	          	</div>
	          </div>
	        </div>
	      
	      </div>
	    </div>
	  </div>
	</div>
</template>

<script>
import CategoriesComponent  from 'categories/CategoriesComponent.vue'
import AddToWishlistComponent from 'wishlist/AddToWishlistComponent.vue'	
import Noty from 'noty';
export default {
	data () {
		return {
			products: new Array(),
			offset: 0,
			chunk: this.$store.state.pagination_chunk,
			searchQuery: '',
			categoryId: -1,
			refresh: false,
			searching: false,
			loadingProducts: false,
			type:-1,
			showMore:true,
			user:{

			}
		}
	},
	created () {
		this.user = this.$store.state.user
		if(this.user.role.view_product){
			this.getProducts();
		}
	},
	mounted () {
		this.offset=0;
	},
	methods: {
		toggleFilters () {
			$('#Filters').sidebar('show');
		},
		updateSearchQuery(text) {
			this.searchQuery = text
			this.refresh = true
			this.getProducts()
		},
		updateSelectedCategory (id) {
			this.categoryId = id
			this.type = -1
			this.refresh = true
			this.getProducts()
		},
		removeSearchQuery () {
			this.searchQuery = ''
			this.refresh = true
			this.getProducts()
		},
		removeSelectedCategory () {
			this.categoryId = -1
			this.refresh = true
			this.getProducts()
		},
		getProducts : function () {
			if(this.refresh) {
				this.offset = 0
			}
			this.loadingProducts = true
			this.searching = true
			this.$http
				.get(api_host + '/products',
				{
					params:{
						type: this.type,
						offset: this.offset,
						chunk:this.chunk,
						search: this.searchQuery,
						category_id: this.categoryId
					},
					headers : { 'Authorization' : this.$store.state.token}
				}
			)
			.then(
				function (response) {
					if(response.body.length == 0) {
						this.showMore = false
					}
					this.searching = false
					if(this.refresh) {
						this.products = response.body
						this.refresh = false
					} else {
						for (var x in response.body) {
							this.products.push(response.body[x])
						}
					}
					this.offset = this.offset+this.chunk;
					this.loadingProducts = false
				},
				function (err){
					console.log(err);
					this.searching = false
				}
			)
		},
		loadMore: function () {
			this.getProducts();
		},
		categorySelected: function(id) {
			this.$http
				.get(api_host + '/products',
				{
					params: {
						category_id: id
					},
					headers : { 'Authorization' : this.$store.state.token}
				}
			)
			.then(
				function (response) {
					this.products = null
					this.products = response.body
				},
				function (err){
					console.log(err)
				}
			)
		},
		searchProducts: function(searchText) {
			if(searchText.length >=3){
				this.offset = 0
				this.$http
					.get(api_host + '/products',
					{
						params:{
							search: searchText,
							offset: this.offset,
							chunk: this.chunk
						},
						headers:{
							Authorization : this.$store.state.token
						}
					}
				)
				.then(
					function(response) {
						this.products = null
						this.products = response.body
						$('.active').removeClass('active')
					},
					function(error) {
						console.log(error)
					}
				)
			}
			else if(searchText.length == 0) {
				this.getProducts();
			}
		},
		updateSelectedType: function (type) {
			console.log(type)
			this.type = type;
			this.categoryId = -1
			this.refresh = true
			this.getProducts()
		},
		removeSelectedType () {
			this.type = -1
			this.refresh = true
			this.getProducts()
		},
		wishlistChanged: function (type, productId) {
			new Noty({
			  type: 'success',
			  layout: 'topRight',
			  timeout: 500,
			  text: 'Product ' + type
			}).show()
		}
	},
	components : { CategoriesComponent, AddToWishlistComponent }
}
</script>
