<template>
<div>
	<!-- HS: This page was not worked on properly -->
	<!-- HS: Formatting was correct -->
	<!-- HS: Much was left desired in terms of quality. Please go ahead see individual module notes -->
	<div class="Content">
	    <div class="ProductSlider">
			<div class="swiper-container">
				<div class="swiper-wrapper" id="lightZoom">
					<!-- HS: Undefined is not a string! Video was showing in all cases -->
					<div class="swiper-slide" v-if="product.video_url">
						<video controls name="media" style="max-width: 100%"> 
							<source :src="product.video_url" type="video/mp4">
						</video> 
					</div>
					<div class="swiper-slide" v-for="image in product.imagegallery">
						<a :href="image.url" class="imageZoomer">
							<img :src="image.thumbnail_url" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	    
	    <div class="ProductDescription">
	      <div class="ui grid">
	        <div class="sixteen wide mobile six wide computer centered column">
	          <p v-if="product.Description">{{product.Description}}</p>
	          <a 
	          	href="#" 
	          	class="ui large button Gold Round" 
	          	id="GetEstimate"
	          >
	          	Get Estimate
	          </a>
	          <template v-if="user.role.share_product">
				<a 
					href="#" 
					class="ui large button green Round"
					v-if="liked"
					@click.prevent="changeWishlist"
				>
					<i class="check icon"></i>
					In Wishlist
				</a>
				<a 
					href="#" 
					class="ui large button Heart Round" 
					@click.prevent="changeWishlist"
					v-if="!liked"
				  >
					<i class="heart icon"></i> 
					Add to Wishlist
				</a>
	          </template>
	          <table class="ui definition celled striped unstackable table">
	          	<tbody>
	          		<tr>
	          			<td>Design #</td>
	          			<td>{{ product.Name }}</td>
	          		</tr>
	          		<tr v-if="typeof product.collections != 'undefined'">
	          			<td>Collections</td>
	          			<td>
	          				<template v-for="p, index in product.collections">
	          					<router-link :to="{'name':'singleCollection', params: {id: p.id}}">
	          						{{p.name}} 
	          					</router-link><span v-if="index+1 != product.collections.length">,</span>
	          				</template>
	          			</td>
	          		</tr>
	          		<tr v-if="typeof product.productcategories != 'undefined'">
	          			<td>Categories</td>
	          			<td>
	          				<template v-for="p, index in product.productcategories">
	          					<router-link :to="{'name':'singleCategory', params: {id: p.id}}">
	          					{{p.Name}}
	          					</router-link> <span v-if="index+1 != product.productcategories.length">,</span>
	          				</template>
	          			</td>
	          		</tr>
	          		<tr>
	          			<td>Purities Available</td>
	          			<td>
	          				<template v-for="p, index in product.purities">
	          					{{p.pure}} <span v-if="index+1 != product.purities.length">,</span>
	          				</template>
	          			</td>
	          		</tr>
	          		<tr>
	          			<td>Gross Weight</td>
	          			<td>{{ product.detail.Gross_weight }} gms</td>
	          		</tr>
	          		<tr>
	          			<td>Net Weight</td>
	          			<td>{{ product.detail.Net_weight }} gms</td>
	          		</tr>
	          		<tr>
	          			<td>Making Charges / gm</td>
	          			<td>Rs. {{ product.detail.Making }} /gm</td>
	          		</tr>
	          	</tbody>
	          </table>
	          <table class="ui striped celled unstackable table" v-if="product.stones.length">
	          	<thead>
	          		<tr>
	          			<th>Stone</th>
	          			<th>Weight</th>
	          			<th>Price / carat</th>
	          		</tr>
	          	</thead>
	          	<tbody>
	          		<tr v-for="stone in product.stones">
	          			<td>{{ stone.stone_name }}</td>
	          			<td>{{ stone.pivot.weight | twoDecimals }} carats</td>
	          			<td>Rs. {{ stone.pivot.price }}</td>
	          		</tr>
	          	</tbody>
	          </table>
	          
	        </div>
	      </div>
	    </div>

	    <div id="EstimateModal" class="ui modal">
	      <i class="close icon"></i>
	      <div class="EstimateForm">
	        <div class="Left">
	          <h3>Get an Estimate</h3>
	          <p>Please enter the values below</p>
	          <form action="#" class="ui form">
	            <div class="field">
	              <label for="purity">Gold Purity</label>
	              <select name="purity" id="" class="ui selection dropdown" v-model="selectedPurity">
	                <option :value="purity.purity_value" v-for="purity, index in product.purities" :selected='index == 0 ? true : false'>{{purity.pure}}</option>
	              </select>
	            </div>
	            <div class="three fields">
		            <div class="field">
		              <label for="price">Net Weight</label>
		              <input type="text" v-model="c.net_weight" disabled="">
		            </div>
	            	<div class="field">
	            	  <label for="price">Gold Price</label>
	            	  <input type="text" v-model="c.gold_rate">
	            	</div>
	            	<div class="field">
	            	  <label for="price">Making Charges / gm</label>
	            	  <input type="text" v-model="c.making">
	            	</div>
	            </div>
	            <table class="ui basic unstackable celled table StonesTable" style="margin-top: 0;">
	            	<thead>
	            		<tr>
	            			<th>Stone</th>
	            			<th>Weight</th>
	            			<th>Price</th>
	            		</tr>
	            	</thead>
	            	<tbody>
	            		<tr v-for="stone in product.stones">
	            			<td><strong>{{ stone.stone_name }}</strong></td>
	            			<td><input type="text" v-model="stone.pivot.weight"></td>
	            			<td><input type="text" v-model="stone.pivot.price"></td>
	            		</tr>
	            	</tbody>
	            </table>
	          </form>
	        </div>
	        <div class="Right">
	          <div>
	            <img src="/static/img/logo.png" alt="">
	            <h3>Estimated Price</h3>
	            <p class="price">Rs. {{ estimate }}</p>
	            <template v-if="user.role.share_product">
		            <a 
			          	href="#" 
			          	class="ui tiny button green Round"
			          	v-if="liked"
			          	@click.prevent="changeWishlist"
			          >
			          	<i class="check icon"></i>
			          	In Wishlist
			          </a>
			          <a 
		          		href="#" 
		          		class="ui tiny button Heart Round" 
		          		@click.prevent="changeWishlist"
		          		v-if="!liked"
		          	  >
			          	<i class="heart icon"></i> 
			          	Add to Wishlist
	          		</a>
	            </template>
	            
	          </div>
	        </div>
	        <div class="Bottom">
	          <div class="BLeft">
	            <h3>Estimated Price</h3>
	            <p>Rs. {{ estimate }}</p>
	          </div>
	          <div class="BRight">
	            <a 
		          	href="#" 
		          	class="ui tiny button icon green Round"
		          	v-if="liked"
		          	@click.prevent="changeWishlist"
		          >
		          	<i class="check icon"></i> In Wishlist
		          </a>
			          <a 
		          		href="#" 
		          		class="ui tiny button icon Heart Round" 
		          		@click.prevent="changeWishlist"
		          		v-if="!liked"
		          	  >
			          	<i class="heart icon"></i> Add
	          		</a>
	          </div>
	        </div>
	      </div>
	    </div>
	</div>

</div>
</template>	
	<script>
	import Swiper from 'swiper'
	import Noty from 'noty';
	require('lightgallery');
	require('lg-zoom');
	export default {
		name: 'SingleProduct',
		data () {
			return {
				product: {
					user: {},
					imagegallery: new Array(),
					id: -1,
					Description: "",
					Product_Video: "",
					created_at: "",
					detail: {
						id: 0,
						Gross_weight: 0,
						Net_weight: 0,
						Making: 0,
						vendor_name:"VJ",
						precious_rate: 0,  // HS: Why does _rate signify the weight everywhere??
						semi_precious_rate: 0, // HS: Doesn't make sense
						polki_rate: 0,
						kundan_rate: 0,
						diamond_rate: 0,
						Precious: 0, // HS: Fetch Default Precious Price Here
						Semi_precious: 0, // HS: Fetch default semi precious price here
						Kundan: 0, // HS: Fetch default kundan price here
						Diamond: 0, // HS: Fetch default diamond price here
						Polki: 0, // HS: Fetch default Polki price here
						created_at: "",
						product_id: 0,
						updated_at:""
					},
					Name: "",
					images: new Array(),
					productcategories: new Array(),
					purities: new Array(),
					updated_at: "",
					video_url: "",
					productId: "",
					stones: []
				},
				purities:{},
				settings: {
					gold_rate: 0
				},
				liked: false,
				selectedPurity: 0,
				productId: parseInt(this.$route.params.id), // HS: ID was Parsing as String, Breaking the Wishlist feature
				c: {
					gold_rate: 0,
					purity: 0,
					making: 0,
					net_weight: 0,
					diamond_wt: 0,
					diamond_p: 0,
					precious_wt: 0,
					precious_p: 0,
					semi_precious_wt: 0,
					semi_precious_p: 0,
					polki_wt: 0,
					polki_p: 0,
					kundan_wt: 0,
					kundan_p: 0,
				}
			}
		},
		computed: {
			estimate: function () {
				var weightOfGold = parseFloat(this.selectedPurity) / 100 * parseFloat(this.c.net_weight)
				var priceOfGold = weightOfGold * parseFloat(this.c.gold_rate)
				var makingCharges = parseFloat(this.c.making) * parseFloat(this.c.net_weight)
				var stonePrice = 0;
				for (var stone in this.product.stones) {
					stonePrice += this.product.stones[stone].pivot.weight * this.product.stones[stone].pivot.price;
				}
				var e = priceOfGold + makingCharges + stonePrice 
				return Math.round(e)
			}
		},
		filters: {
			twoDecimals: function(value) {
				return Math.round(value * 1000) / 1000
			}
		},
		created () {
			this.user = this.$store.state.user
			this.$forceUpdate();
			this.getProduct();
			this.getPurities();
			this.getSettings();
			this.initializeWishist();
		},
		mounted() {
			this.$nextTick(function() {
				$('#EstimateModal').modal();
				$('#GetEstimate').click(function (event) {
					event.preventDefault();
					$('#EstimateModal').modal('show');
				});
			});
		},
		beforeRouteLeave(to, from, next) {
			$('#EstimateModal').remove();
			this.c = {}
			next()
		},
		methods:{
			updateC: function () {
				this.c = {
					gold_rate: this.settings.gold_rate,
					purity: this.selectedPurity,
					making: this.product.detail.Making,
					net_weight: this.product.detail.Net_weight,
					diamond_wt: this.product.detail.Diamond,
					diamond_p: this.product.detail.diamond_rate ? this.product.detail.diamond_rate : this.settings.diamond_price,
					precious_wt: this.product.detail.Precious,
					precious_p: this.product.detail.precious_rate ? this.product.detail.precious_rate : this.settings.precious_price,
					semi_precious_wt: this.product.detail.Semi_precious,
					semi_precious_p: this.product.detail.semi_precious_rate ? this.product.detail.semi_precious_rate : this.settings.semi_precious_price,
					polki_wt: this.product.detail.Polki,
					polki_p: this.product.detail.polki_rate ? this.product.detail.polki_rate : this.settings.polki_price,
					kundan_wt: this.product.detail.Kundan,
					kundan_p: this.product.detail.kundan_rate ? this.product.detail.kundan_rate : this.settings.kundan_price
				}
			},
			getProduct: function () {
				this.$http
					.get(api_host + '/products/' + this.productId,
					{
						headers :{ 
							Authorization: this.$store.state.token
						}
					}
				).
				then(
					function(response){
						this.product = response.body
						var product_ids = this.$store.state.product_ids
						for(var id of product_ids){
							if(id == this.product.id){
								this.liked = true
							}
						}
						this.selectedPurity = this.product.purities[0].purity_value
						this.$nextTick(function () {
							this.updateC();
						})
						$(document).ready(function() {
							var mySwiper = new Swiper ('.swiper-container', {
								slidesPerView: 2.75,
								centeredSlides: true,
								grabCursor: true,
								breakpoints: {
								   // when window width is <= 480px
								   480: {
								     slidesPerView: 1,
								     spaceBetween: 20
								   },
								   // when window width is <= 640px
								   1366: {
								     slidesPerView: 2,
								     spaceBetween: 30
								   }
								 }
					     	})

							$('#lightZoom').lightGallery({
							  selector: '.imageZoomer',
							  zoom: true,
							  download: false
							})
						})	
					},
					function(error){
						console.log('eroror') // Error
					}
				)	
			},
			getPurities: function () {
				this.$http
					.get(api_host + '/purities',
					{
						headers:{
							Authorization: this.$store.state.token
						}
					}
				)
				.then (
					function (response) {
						this.purities = response.body
					},
					function (error) {
						console.log(error) // Error
					}
				)
			},
			getSettings: function () {
				this.$http
					.get(api_host + '/settings',
					{
						headers:{
							Authorization: this.$store.state.token
						}
					}
				)
				.then(
					function (response) {
						this.settings = response.body
						this.$nextTick(function() {
							this.updateC()
						})
					},
					function (error) {
						console.log(error) // Error
					}
				)
			},
			// HS: What is going on here? Seems like copy pasted code without check. Corrected
			changeWishlist: function () {
				var product_ids = this.$store.state.product_ids
				this.product.id = this.$route.params.id;
				var notFound = true
				var vm = this
				product_ids.forEach(function(key, index) {
					if(vm.product.id == key){
						notFound = false
						vm.liked = false
						vm.$store.commit('removeFromWishList', vm.product.id)
						vm.$emit('wishlistChanged','removed',vm.product.id)
						new Noty({
						  type: 'info',
						  layout: 'topRight',
						  timeout: 500,
						  text: 'Product Removed from Wishlist'
						}).show()
						return;
					}
				})
				if(notFound) {
					this.$store.commit('addToWishlist', this.product.id)
					this.liked = true
					this.$emit('wishlistChanged','added',this.product.id)
					new Noty({
					  type: 'info',
					  layout: 'topRight',
					  timeout: 500,
					  text: 'Product added to Wishlist'
					}).show()
				}
			},
			initializeWishist: function () {
				var product_ids = this.$store.state.product_ids
				var productId = this.$route.params.id
				var vm = this
				product_ids.forEach(function(key, index){
					if(productId == key) {
						console.log('already in wishlist')
						vm.liked = true
					}
				})
			}
		}
	}
</script>