<template>
	<a href="#" class="like" :class="{'Liked':liked}" @click.prevent="addToWishlist" :key='productId'>
    <i class="heart icon"></i>
	</a>
</template>
<script>
	export default {
		data () {
			return {
				liked: false
			}
		},
		props: ['productId'],
		created () {
			if(this.$store.state.product_ids.indexOf(this.productId) > -1){
				this.liked = true
			}
		},
		methods:{
			addToWishlist: function () {
				var product_ids = this.$store.state.product_ids
				var id = 0;
				for(id of product_ids){
					if(id == this.productId){
						this.liked = false
						this.$store.commit('removeFromWishList', this.productId)
						this.$emit('wishlistChanged','removed',this.productId)
						return;
					}
				}
				this.$store.commit('addToWishlist', this.productId)
				this.liked = true
				this.$emit('wishlistChanged','added',this.productId)
			}
		}
	}
</script>