<template>
	<div class="Content Larger">
	  <div class="ui container">
	    <div class="ui grid">
	      <div class="row ContentHeader">
	        <div class="sixteen wide column">
	          <h1 v-if="this.$store.state.product_ids.length">Wishlist
	          <a href="#" class="ui negative button tiny right floated" @click.prevent="openConfirmBox" v-if="this.$store.state.product_ids.length > 0">
	          	Delete
	          </a>
	          <a href='#'  class="ui Gold button right tiny floated" @click.prevent="sync()" v-if="this.$store.state.product_ids.length > 0 && this.$store.state.user">
					Sync</a>
	          <router-link :to="{name:'allContacts'}" class="ui Gold right tiny floated button" v-if="this.$store.state.product_ids.length > 0 && this.$store.state.user">
	          	<i class="envelope icon"></i>
	          	Send
	          </router-link>
	          </h1>
	        </div>
	      </div>
	      <div class="row ContentStuff">
	        <div class="sixteen wide column" id="sticker">
	          <div class="ui four doubling cards">
	            <div class="ui card ProductCard" v-for="product in products">
              	 <router-link :to="{name: 'singleProduct', params: {id: product.id}}" class="ui image">
	                <img :src="typeof product.img == 'undefined' ? '/src/assets/default_products_big.jpg' : product.img">
	             </router-link>
	                <div class="header">{{product.sku}}</div>
	                <div class="meta">
	                  	<span class="date">
	                  		{{product.category.category_name}}
	                	</span>
	             	 </div>
	                <div class="meta">
	                	<span class="date">
	                  	Price :{{product.price}}
	                  </span>
	                </div>
	                <div class="meta">
	                	<span class="date">
	                		<div class="ui labeled button" tabindex="0">
	                		  <div class="ui button">
	                		    <i class="heart icon"></i> Likes
	                		  </div>
	                		  <a class="ui basic label">
	                		    {{product.likes}}
	                		  </a>
	                		</div>
	                	</span>
	                </div>
	                <div class="meta">
	                	<span class="date">
	                		<div class="ui labeled button" tabindex="0">
	                		  <div class="ui button">
	                		    <i class="heart icon"></i> Dislikes
	                		  </div>
	                		  <a class="ui basic label">
	                		    {{product.dislikes}}
	                		  </a>
	                		</div>
	                	</span>
	                </div>
	            
	              <add-to-wishlist-component @wishlistChanged="wishlistChanged" :productId="product.id"></add-to-wishlist-component>
	            </div>
	          </div>
		          <div v-if="!products.length" style="text-align:center; line-height: 1.6; padding: 2em; font-size: 2em; color:#dedede">
						<div><i class="heart icon"></i></div>
		          		Add products to your wishlist and come back here :)
		          </div>
		      </div>
		    </div>
		    <div class="ui modal removeWishlist">
		    <div class="ui inverted dimmer active" v-if="wishlistCleared">
                <div class="ui text loader">
                    Clearing Wishlist ....
                </div>
            </div>
		      <i class="close icon"></i>
		      <div class="header">
		        Clear Wishlist
		      </div>
		      <div class="image content">
		      
		        <div class="description">
		          Are you sure you want to clear wishlist?
		        </div>
		      </div>
		      <div class="actions">
		        <button class="ui button" v-on:click="Cancel">No! Wait!</button>
		        <button class="ui button" v-on:click="removeWishlist">Yes</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</template>
<script>
	import AddToWishlistComponent from './AddToWishlistComponent.vue'
	import Noty from 'noty';
	export default {
		data () {
			return {
				products:{},
				data:{
					product_ids: ''
				},
				wishlistCleared:false,
				product_ids:new Array()
			}
		},
		components: { AddToWishlistComponent },
		beforeCreate() {
			if(!(this.$store.state.user)) {
				this.$router.push({name:'unauthorized'});
			}
		},
		created () {
			this.getProducts();
		},
		computed: {
		},
		methods: {
			getProducts : function () {
				this.$http
					.get(api_host + '/local/wishlist',
					{
						params : {
							product_ids : this.$store.state.product_ids
						},
						headers:{
							Authorization : this.$store.state.token
						}
					}
				)
				.then(
					function (response) {
						this.products = response.body
					},
					function (error) {
						console.log(error)
					}
				)
			},
			sync: function () {
				this.data.product_ids = this.$store.state.product_ids
				this.$http
					.post(api_host + '/wishlist', this.data ,
					{
						headers:{
								Authorization : this.$store.state.token
						}
					}
				)
				.then(
					function (response) {
						console.log('Wishlist Synced')
						this.$store.state.product_ids = response.attached
						new Noty({
						  type: 'info',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:500,
						  killer: true,
						  text: 'Product successfully synced in Wishlist'
						}).show()
					},
					function (error) {
						new Noty({
						  type: 'error',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:500,
						  killer: true,
						  text: 'Some problem occured while syncing wishlist. Try again!'
						}).show()
					}
				)
			},
			wishlistChanged: function (type, val) {
				var products = this.products
				for(var i in products){
					if(products[i].id == val){
						this.products.splice(i, 1)
						new Noty({
						  type: 'info',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:500,
						  killer: true,
						  text: 'Product successfully ' + type
						}).show()
					}
				}
			},
			openConfirmBox: function () {
				$('.removeWishlist').modal('show');
			},
			Cancel: function () {
				console.log('wishlist not canceld');
				$('.removeWishlist').modal('hide');
			},
			removeWishlist: function () {
				this.wishlistCleared = true
				$('.removeWishlist').modal('hide');
				this.$store.commit('removeWishlist')
				this.wishlistCleared = false
				this.products={}
				new Noty({
						  type: 'info',
						  layout: 'topRight',
						  theme: 'mint',
						  text: 'Wishlist cleared',
						  timeout:500
						}).show()
			}
		}
	}
</script>