<template>
		<div class="Content Larger">
		  <div class="ui container">
		    <div class="ui grid">
		      <div class="row ContentHeader">
		        <div class="sixteen wide column">
		        </div>
		      </div>
		      <div class="row ContentStuff">
		        <div class="sixteen wide column" id="sticker">
		          <div class="ui four doubling cards">
		            <div class="ui card ProductCard" v-for="product in products">
		                <img :src="typeof product.img == 'undefined' ? '/src/assets/default_products_big.jpg' : product.img">
	              	
		                <div class="header">{{product.sku}}</div>
		                <div class="meta">
		                  	<span class="date">
		                  		{{product.category.category_name}}
		                	</span>
		             	 </div>
		                <div class="meta">
		                	<span class="date">
		                  	Price :{{product.price}}
		                  </span>
		                </div>
		                <div class="meta">
		                	<span class="date">
		                		<div class="ui labeled button" tabindex="0">
		                		  <button class="ui button" @click="like(product.id,'1')">
		                		    <i class="heart icon"></i> Likes
		                		  </button>
		                		  <a class="ui basic label">
		                		    {{product.likes}}
		                		  </a>
		                		</div>
		                	</span>
		                </div>
		                <div class="meta">
		                	<span class="date">
		                		<div class="ui labeled button" tabindex="0">
		                		  <button class="ui button" @click="dislike(product.id,'-1')">
		                		    <i class="heart icon"></i> Dislikes
		                		  </button>
		                		  <a class="ui basic label">
		                		    {{product.dislikes}}
		                		  </a>
		                		</div>
		                	</span>
		                </div>
		              
		              
		            </div>
		          </div>
			          <div v-if="!products.length" style="text-align:center; line-height: 1.6; padding: 2em; font-size: 2em; color:#dedede">
							<div><i class="heart icon"></i></div>
			          	Your Friend has not added any product yet. See him after some time :)
			          </div>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
</template>

<script>
import Noty from 'noty';
export default {
	data () {
		return  {
			friendId: this.$route.params.id,
			products:{},
			type: '',
			productId:''
		}
	},
	created (){
		this.getProducts()
	},
	methods :{
		getProducts() {
			this.$http
				.get(api_host + '/friend/' + this.friendId,{
					headers: {
						 'Authorization' : this.$store.state.token
						}
					}
				)
				.then(
					function(response) {
						this.products = response.body
					},
					function(error) {
						console.log(error)
					}

				)
		},
		like: function (id, type) {
			this.productId = id
			this.type = type
			this.$http
				.post(api_host + '/like', {
					product_id : this.productId,
					type :  this.type,
					friend_id : this.friendId
				},
				{
					headers: {
						'Authorization' : this.$store.state.token
					}
				}
			)
			.then(
				function(response) {
					this.changeThisProduct(id, type)
					console.log('liked')
				},
				function(error) {
					console.log(error)
				}

			)
		},
		dislike: function(id, type) {
			if (this.alreadyDisliked) { // can only like a product single time
				return; 
			}
			this.productId = id
			this.type = type
			this.$http
				.post(api_host + '/like', {
					product_id : this.productId,
					type :  this.type,
					friend_id : this.friendId
				},
				{
					headers: {
						'Authorization' : this.$store.state.token
					}
				}
			)
			.then(
				function(response) {
					this.changeThisProduct(id, type)
					console.log('disliked')
				},
				function(error) {
					console.log(error)
				}

			)
		},
		changeThisProduct(id, type){
			console.log('in change this product')
			for(var i in this.products) {
				console.log(i)
				if(this.products[i].id == id) {
					if(type == -1) {
						console.log("prodcut disliked count")
						if(this.products[i].likes >0) {
							this.products[i].likes--
						}
						this.products[i].dislikes++
					}
					else {
						console.log("prodcut liked count")
						this.products[i].likes++
						if(this.products[i].dislikes >0) {
							this.products[i].dislikes--
						}
					}
				}
			}
			return this.products
		}
	}
}
</script>