<template>
	<div class="Content Larger">
	  <div class="ui container">
	    <div class="ui grid">
	      <div class="row ContentHeader">
	        <div class="sixteen wide column">
	          <h1>Send Wishlist
				<router-link 
					:to="{name: 'addCustomer'}" 
					class="ui Gold right floated left icon button mobile only"
					v-if="user.role.add_user"
				>
					<i class="plus icon"></i>
				</router-link>
				<router-link 
					:to="{name: 'addCustomer'}" 
					class="ui Gold right floated left labeled icon button mobile hidden"
					v-if="user.role.add_user"
				>
					<i class="plus icon"></i>Add 
				</router-link>
  	            <template v-if="customer_array.length>0">
            	  	<a href="#" class="ui basic blue left icon right floated button mobile only"  @click.prevent="sendMultipleWishList" >
            	  		<i class="share icon icon"></i>
            	  	</a>
            	  	<a href="#" class="ui basic blue left labeled icon right floated button mobile hidden" @click.prevent="sendMultipleWishList" >
            	  		<i class="share icon icon"></i>Send Wishlist
            	  	</a>
            	</template >
	          </h1>
	        </div>
	      </div>
	      <div class="row ContentStuff">
	        <div class="sixteen wide column" id="sticker">
	        	<div class="ui top inverted dimmer active" v-if="mailsend">
	        		<div class="ui text loader">
	        			Sending Mail...
	        		</div>
	        	</div>
	          <common-all-customer @showModal="showModalInParent" @setCustomers="SetCustomersinParent"></common-all-customer>
  				<div class="ui modal OptionCustomerModal" :id="'option-customer'+customer.id">
  				  <i class="close icon"s></i>
  				  <div class="ui header">
  				    {{customer.first_name | capitalize }} {{ customer.last_name | capitalize }}
  				  </div>
  				  <div class="content">
  				  		<table class="ui striped unstackable table">
  				  			<tr>
  				  				<td width="150">Name</td>
  				  				<td>{{customer.first_name}} {{ customer.last_name}}</td>
  				  			</tr>
  				  			<tr>
  				  				<td>Email</td>
  				  				<td>{{ customer.email ? customer.email : '-' }}</td>
  				  			</tr>
  				  			<tr>
  				  				<td>Mobile Number</td>
  				  				<td>{{ customer.mobile ? customer.mobile : '-' }}</td>
  				  			</tr>
  				  			<tr>
  				  				<td>Gender</td>
  				  				<td>{{ customer.gender == 'M' ? 'Male' : 'Female' }}</td>
  				  			</tr>
  				  			<tr>
  				  				<td>Date of Birth</td>
  				  				<td>{{ customer.dob ? customer.dob : '-' }}</td>
  				  			</tr>
  				  			<tr>
  				  				<td>Date of Anniversary</td>
  				  				<td>{{ customer.doa ? customer.doa : '-' }}</td>
  				  			</tr>
  				  			<tr>
  				  				<td>Address</td>
  				  				<td>
  				  					{{ customer.address_line_one ? customer.address_line_one + '\ ' : '' }}
  				  					{{ customer.address_line_two ? customer.address_line_two + '\ ' : '' }}
  				  					{{ customer.city ? customer.city : '' }} - {{ customer.state ? customer.state : '' }}
  									{{ customer.pin_code ? customer.pin_code : '' }}
  				  				</td>
  				  			</tr>
  				  			<tr>
  				  				<td>Company</td>
  				  				<td>
  				  					{{ customer.company ? customer.company : '-' }}
  				  				</td>
  				  			</tr>
  				  			<tr>
  				  				<td>Notes</td>
  				  				<td>
  				  					{{ customer.notes ? customer.notes : '-' }}
  				  				</td>
  				  			</tr>
  				  		</table>
  				  </div>
  				  <div class="actions">
  				  	<div class="ui four buttons">
			  			<div  class="ui green button" v-if="this.$store.state.product_ids.length > 0" v-on:click="openWishlistMessageBox(customer)"><i class="heart icon"></i><i class="mail icon"></i><span class="mobile hidden">Send WishList</span></div>
			  		  <div  class="ui green button" v-on:click="openSingleMessageBox(customer.id)"><i class="comment icon"></i><span class="mobile hidden">Send Message</span></div>
			  		  <div  class="ui blue button" v-on:click="routeToEdit(customer.id)" v-if="user.role.edit_user"><i class="pencil icon"></i><span class="mobile hidden">Edit</span></div>
			  		  <div class="ui red button" v-on:click="openConfirmBox(customer.id)" v-if="user.role.delete_user"><i class="remove icon"></i><span class="mobile hidden">Delete</span></div>
			  		</div>
  				    <!-- <div class="ui button" v-on:click="closeOptionBox(customer.id)">Cancel</div> -->
  				  </div>
  				</div>
               	<div class="ui modal messageFormModal" :id="'messageForm'+ customer.id">
          	    	<i class="close icon"></i>
          	    	<div class="ui inverted dimmer active" v-if="messageSending">
          	    	  <div class="ui text loader">
          	    	  sending Message...
          	    	  </div>
          	    	</div>
          	      <div class="header">
          	        Create Message
          	      </div>
          	      <div class="content">
          	        <form action="#" 
          	        	class="ui form"
  						data-parsley-validate
  						@submit.prevent="sendSingleMessage(customer.id)"
  						id="send-message"
      	        	>
          	          <div class="field">
          	            <label for="">Message</label>
          	            <p>You can use the following wild cards in your message: {first_name}, {last_name}</p>
          	            <input type="text" v-model="message" />
          	          </div>
          	          <div class="field">
          	            <button class="ui green button">Send Message</button>
          	          </div>
          	        </form>
          	      </div>
                  </div>
  				<div class="ui modal deleteCustomer" :id="'customer'+customer.id">
  				  <i class="close icon"></i>
  				  <div class="header">
  				    Delete Customer
  				  </div>
  				  <div class="image content">
  				  
  				    <div class="description">
  				      Are you sure you want to delete?
  				    </div>
  				  </div>
  				  <div class="actions">
  				    <div class="ui button" v-on:click="Cancel(customer.id)">Cancel</div>
  				    <div class="ui button" v-on:click="deleteCustomer(customer)">OK</div>
  				  </div>
  				</div>
  				<div class="ui modal" :id="'customer-edit'+ customer.id">
					<i class="close icon"></i>
					<div class="header">
						Send Wishlist
					</div>
					<div class="image content">

					<div class="description">
						Customer does not have an Email.
					</div>
					</div>
					<div class="actions">
					<div  class="ui basic blue button" v-on:click="routeToEdit(customer.id)" v-if="user.role.edit_user">Edit</div>
					<div class="ui button" v-on:click="cancelWishlist(customer.id)">Cancel</div>
					</div>
  				</div>
  				<div class="ui modal wishlistModal" :id="'wishlist-cus'+ customer.id">
					<i class="close icon"></i>
					<div class="header">
					Send Wishlist
					</div>
					<div class="image content">

					<div class="description">
					 Are you sure you want to send Wishlist to {{customer.first_name }} {{
					 customer.last_name
					 }}
					</div>
					</div>
					<div class="actions">
					<div class="ui button" v-on:click="sendWishlist(customer)">OK</div>
					<div class="ui button" v-on:click="cancelWishlist(customer.id)">Cancel</div>
					</div>
  				</div>
	        </div>        
	      </div>
	    </div>
	  </div>
	</div>
</template>
<script>
	require('parsleyjs')
	import moment from 'moment';
	require('moment-timezone');
	import Noty from 'noty';
	import CommonAllCustomer from '../common/CommonAllCustomer.vue';
	export default {
		data () {
			return {
				search:'',
				customers : new Array(),
				customer_array: this.$store.state.customer_array,
				customer_array_details:new Array(),
				loadingCustomers:false,
				offset: 0,
				chunk: this.$store.state.pagination_chunk,
				data: {
					customer_ids: [],
					product_ids: []
				},
				mailsend: false,
				customer:'',
				message:'',
				messageSending:false,
				user:{}
			}
		},
		components: { CommonAllCustomer },
		created () {
			this.user = this.$store.state.user
		},
		mounted ()
		{
			this.form = $('#send-message').parsley();
		},
		beforeRouteLeave(to, from, next) {
			this.$store.commit('removeAllCustomerArray')
			next();
		},
		methods: {
			addCustomer: function (customer) {
				$('.OptionCustomerModal').modal('hide');
				$('#wishlist-cus' + customer.id).modal('show');
			},
			openWishlistMessageBox: function (customer) {
				$('.OptionCustomerModal').modal('hide');
				$('#wishlist-cus' + customer.id).modal('show');
			},
			sendMultipleWishList: function (){
				this.customer_array = this.$store.state.customer_array
				for( var j in this.customer_array) {	
					this.getSingleCustomer(this.customer_array[j])
				}
			},
			checkEmailInCustomers: function () {
				for(var i in this.customer_array_details){
					if(this.customer_array_details[i].email != null) {
					    this.sendWishlist(this.customer_array_details[i]);
					}
					else {
						new Noty({
						  type: 'error',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:1000,
						  text: 'Wishlist cannot be send to '+ this.customer_array_details[i].first_name + ' ' + this.customer_array_details[i].last_name + ', email empty'
						}).show()
					}
				}
				this.customer_array_details = new Array();
			},
			sendWishlist : function (customer) {
				$('.wishlistModal').modal('hide');
				this.data.customer_ids = new Array()
				if(customer.email == null) {
					$('#customer-edit'+customer.id).modal('show');
				}
				else {
					this.data.customer_ids.push(customer.id)
					this.data.product_ids = this.$store.state.product_ids
					this.mailsend = true
					this.$http
						.post(api_host + '/wishlist', this.data, 
						{
							headers :{
								Authorization : this.$store.state.token
							}
						}
					)
					.then(
						function (response) {
							new Noty({
							  type: 'success',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'Wishlist successfully sent to ' + customer.first_name + ' ' + customer.last_name
							}).show()
							this.mailsend = false
						},
						function (error) {
							new Noty({
							  type: 'error',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'There was some error in sending the wishlist, check the email and try again!'
							}).show()
							this.mailsend = false
						}
					)
				}
			},
			getSingleCustomer: function (id) {
				this.$http
					.get(api_host + '/customers/'+ id,
					{
						headers: {'Authorization': this.$store.state.token }
					}
				)
				.then (
					function (response) {
						this.customer_array_details.push(response.body)
						if(this.customer_array_details.length == this.customer_array.length) {
							this.checkEmailInCustomers();
						}
					},
					function (error) {
						console.log(error);
					}
				)
			},
			SetCustomersinParent: function (customers) {
				this.customers = customers
			},
			showModalInParent: function (customer) {
				this.customer= customer;
				this.customer.dob = customer.dob == null ? null : moment.tz(customer.dob, 'UTC').format('YYYY-MM-DD')
				this.customer.doa = customer.doa == null ? null : moment.tz(customer.doa, 'UTC').format('YYYY-MM-DD')
				var vm = this;
				this.$nextTick(function() {
					$('#option-customer'+vm.customer.id).modal('show');
				})
			},
			routeToEdit: function (id) {
				this.closeOptionBox(id)
				$('.customerEditModal').modal('hide');
				this.$router.push({
					name: 'singleCustomer', params:{ id : id }
				});
			},
			closeOptionBox: function (id) {
				$('.OptionCustomerModal').modal('hide')
			},
			Cancel: function (id) {
				$('.deleteCustomer').modal('hide');
			},
			openSingleMessageBox: function (id) {
				// console.log(id)
				$('#messageForm'+id).modal('show');
			},
			openConfirmBox: function (id){
				$('#customer' + id).modal('show');
			},
			cancelWishlist: function (id) {
				$('.wishlistModal').modal('hide');
				$('.customerEditModal').modal('hide');
			},
			deleteCustomer: function (customer) {
				this.Cancel(customer.id);
				this.$http
				.delete(api_host + '/customers/' + customer.id,
				{
					headers:{
						Authorization : this.$store.state.token
					}
				}
				)
				.then(
					function (response) {
						this.$emit('update', this.customer)
					},
					function (error) {
						new Noty({
						  type: 'error',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:1000,
						  text: 'Something went wrong in delete customer ' + this.customer.first_name + ', try again!'
						}).show()
					}
				)
			},
		},
		watch:{
			search: function (val) {
				if(val.length >=2) {
					this.customers = null
					this.getSearchedCustomer();
				}
				else{

				}
			}
		},
		filters: {
			capitalize: function (value) {
				if (!value) return ''
				value = value.toString()
				return value.charAt(0).toUpperCase() + value.slice(1)
			}
		}
	}
</script>