<template>
	<tr :id="'contact-'+contact.id">
		<td class="collapsing">
			<div class="ui checkbox" style="width:17px">
				<input type="checkbox" :checked="isChecked(contact.id)" @change="changecontactArray(contact.id)" :key="contact.id"> <label></label>
				<label for=""></label>
			</div>
		</td>
		<td v-if="contactFields.name">
			<router-link :to="{ name: 'FriendWishList', params: { id: contact.id }}" v-if="contact.status ==2 ">
			{{contact.name | capitalize}}
			</router-link>
			<a href="#" v-else style="color: rgba(0,0,0,.87)">{{contact.name | capitalize}}</a>
		</td>
		<td  v-if="contactFields.email" :data-tooltip="contact.name">{{ lowercase(contact.email) }}</td>
		<td  v-if="contactFields.mobile" :data-tooltip="contact.name">{{contact.mobile_number}}</td>
		</td>
		<td  v-if="contactFields.status" :data-tooltip="contact.name">
			<button class="ui negative tiny button" v-on:click.prevent = "deleteRequest(contact.id,'delete')" v-if="contact.status == 1">Delete Request</button>
			<button class="ui negative tiny button" v-on:click.prevent = "deleteRequest(contact.id,'unfriend')"v-if="contact.status == 2">Unfriend</button>
			<button class="ui Primary tiny button" v-on:click.prevent = "acceptRequest(contact.id)" v-if="contact.status == 3">Accept Request</button>
			<button class="ui negative tiny button" v-on:click="deleteRequest(contact.id,'denied')" v-if="contact.status == 3">Decline Request</button>
			<button class="ui Gold tiny button" v-on:click.prevent = "sendRequest(contact.id)" v-if="contact.status == 4">Send Request</button>
			
		</td>
		<div class="ui inverted dimmer active" v-if="sendingRequest">
    	    	  <div class="ui text loader">
    	    	  
    	    	  </div>
	</div>
		</td>
	</tr>
</template>
<script>
	import moment from 'moment';
	import Noty from 'noty';
	export default {
		data () {
			return {
				data: {
					friend_id: '',
					type:''
				},
				sendingRequest: false
			}
		},
		props: ['contact', 'contactFields', 'index'],
		methods: {
			sendRequest : function (id) {
				this.sendingRequest = true
				this.data.friend_id = id
				this.$http
				.post(api_host + '/friends', this.data,
					{
						headers: {'Authorization': this.$store.state.token }
					}
				)
				.then(
					function(response) {
						this.contact.status = 1
						this.sendingRequest = false
						new Noty({
						  type: 'info',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:1000,
						  text: 'Request Successfully send to ' + this.contact.name
						}).show()
					},
					function(error) {
						this.sendingRequest = false
						new Noty({
						  type: 'info',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:1000,
						  text: 'Some error occured while sending request '+ error
						}).show()
					}
				)
			},
			deleteRequest : function (id,type) {
				this.sendingRequest = true
				this.data.friend_id = id
				this.data.type = type
				this.$http
				.post(api_host + '/delete/friends',this.data,
				{
					headers: {
						'Authorization': this.$store.state.token 
					}	
				}
				)
				.then(
					function(response) {
						this.sendingRequest = false
						this.contact.status = 4
						new Noty({
						  type: 'info',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:1000,
						  text: 'Request from '+ this.contact.name + 'has been deleted'
						}).show()
					},
					function(error) {
						this.sendingRequest = false
						new Noty({
						  type: 'info',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:1000,
						  text: 'Some error occured while deleting request '+ error
						}).show()
					}
				)
			},
			acceptRequest: function(id) {
				this.sendingRequest = true
				this.data.friend_id = id
				this.$http
				.patch(api_host + '/friends', this.data,
					{
						headers: {'Authorization': this.$store.state.token }
					}
				)
				.then(
					function(response) {
						this.sendingRequest = false
						this.contact.status = 2
						new Noty({
						  type: 'info',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:1000,
						  text: 'You are now friends with ' + this.contact.name
						}).show()
					},
					function(error) {
						this.sendingRequest = false
						new Noty({
						  type: 'info',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:1000,
						  text: 'Some error occured while accepting request '+ error
						}).show()
					}
				)
			},
			isChecked: function (id) {
				var index = $.inArray(id, this.$store.state.customer_array)
				if(index !== -1) {
					return true;
				}
				return false;
			},
			lowercase(c) {
				if(c != null) {
					return c.toLowerCase()
				}
				return '-';
			},
			changecontactArray: function (id){
				var customer_array = this.$store.state.customer_array
				var index = $.inArray(id, customer_array)
				if(index ==-1){
					this.$store.commit('addToCustomerArray',id);
				} else {
					this.$store.commit('removeFromCustomerArray', index);
				}
			}
		},
		filters: {
			moment(val) {
				if(val != null) {
					return moment(val).format('DD/MM/YYYY')
				}
				return '-';
			},
			capitalize: function (value) {
				if (!value) return ''
				value = value.toString()
				return value.charAt(0).toUpperCase() + value.slice(1)
			}
		}
	}
</script>