<template>
	<tr class="filters">
			<td class="skip">
				<div class="thin" style="width: 17px; padding: 2px 10px">
					<input class="ui checkbox" type="checkbox" @change="toggleSelect" :checked='globalChecked'> <label for=""></label>
				</div>
			</td>
			<td >
				<div class="item">
						<div class="ui fluid input">
							<input name="name" type="text" v-model="filters.name" placeholder="Search" v-on:blur="updateFilters" > 
						</div>
				</div>
			</td>
			<td >
				<div class="item">
						<div class="ui fluid input">
							<input name="email" type="text" v-model="filters.email" placeholder="Search" v-on:blur="updateFilters" > 
						</div>
				</div>
			</td>
			<td >
				<div class="item">
						<div class="ui fluid input">
							<input type="text" v-model="filters.mobile_number" placeholder="Search" v-on:blur="updateFilters" > 
						</div>
				</div>
			</td>
			
			<td>
					
			</td>
	</tr>
</template>
<script>
	import _ from 'lodash'
	export default {
		data () {
			return {
				tags: {},
				checkFilter: {
					name: '',
					email: '',
					mobile_number:'',
					status:''
				},
				filters: {
					name: '',
					email: '',
					mobile_number:'',
					status:''
				},
				globalChecked: false
			}
		},
		props: ['bus'],
		created() {
			
		},
		mounted () {
			var vm = this
			this.bus.$on('giveMeLatestFilters', function() {
				vm.bus.$emit('hereAreTheLatestFilters', vm.filters)
			})
			this.bus.$on('loadGroup', function(group) {
				vm.filters = JSON.parse(group.filter)
			})
			this.bus.$on('removeAllFromCustomerArray', function() {
				vm.globalChecked = false
			})
			this.bus.$on('resetFilters', function() {
				vm.filters =  {
					name: '',
					email: '',
					mobile_number:'',
					status: -1
				}
			})
		},
		methods: {
			updateFilters () {
				if(!_.isEqual(this.filters, this.checkFilter)) {
					this.$emit('updateFilters', this.filters);
					this.checkFilter = _.clone(this.filters)
					// this.checkFilter = this.filters
				} else {
					console.log('nothing changed')
				}
			},
			toggleSelect: function() {
				this.globalChecked = true
				this.$emit('toggleSelect')
			},
		},
	}
</script>