<template>
	<div class="ui modal" id="SingleContactModal">
		<div class="ui active inverted dimmer" v-if="showLoader">
			<div class="ui text loader">Working ...</div>
		</div>
	  
	  <div class="ui header" style="padding: 6px 14px !important">
	    {{contactClone.first_name | capitalize}} {{ contactClone.last_name | capitalize }}
	    <div class="content" style="float: right">
	    	<a href="#" class="" @click.prevent="getPrevContact()" v-if="isMobile"><i class="left chevron icon"></i></a>
	    	<a href="#" class="" @click.prevent="getNextContact()" v-if="isMobile"><i class="right chevron icon"></i></a>
	    	<a href="#" @click.prevent='closeModal()'><i class="remove icon" style="margin: 0"></i></a>
	    </div>
	  </div>

	  <div class="content" style="position:relative">
	  		<table class="ui striped unstackable table" v-if='!showEditForm'>
	  			<tr>
	  				<td>Tags</td>
	  				<td><div class="ui blue label" v-for="tag in contactClone.tags">{{tag.name}}</div></td>
	  			</tr>
	  			<tr>
	  				<td width="150">Name</td>
	  				<td>{{contactClone.first_name | capitalize}} {{ contactClone.last_name | capitalize }}</td>
	  			</tr>
	  			<tr>
	  				<td>Email</td>
	  				<td>{{ lowercase(contactClone.email) }}</td>
	  			</tr>
	  			<tr>
	  				<td>Mobile Number</td>
	  				<td>{{ contactClone.mobile ? contactClone.mobile : '-' }}</td>
	  			</tr>
	  			<tr>
	  				<td>Gender</td>
	  				<td>{{ contactClone.gender == 'M' ? 'Male' : 'Female' }}</td>
	  			</tr>
	  			<tr>
	  				<td>Date of Birth</td>
	  				<td>{{ contactClone.dob ? moment(contactClone.dob) : '-' }}</td>
	  			</tr>
	  			<tr>
	  				<td>Date of Anniversary</td>
	  				<td>{{ contactClone.doa ? moment(contactClone.doa) : '-' }}</td>
	  			</tr>
	  			<tr>
	  				<td>Address</td>
	  				<td>
	  					{{ contactClone.address_line_one ? contactClone.address_line_one + '\ ' : '' }}
	  					{{ contactClone.address_line_two ? contactClone.address_line_two + '\ ' : '' }}
	  					{{ contactClone.city ? contactClone.city : '' }} - {{ contactClone.state ? contactClone.state : '' }}
						{{ contactClone.pin_code ? contactClone.pin_code : '' }}
	  				</td>
	  			</tr>
	  			<tr>
	  				<td>Company</td>
	  				<td>
	  					{{ contactClone.company ? contactClone.company : '-' }}
	  				</td>
	  			</tr>
	  			<tr>
	  				<td>Notes</td>
	  				<td>
	  					{{ contactClone.notes ? contactClone.notes : '-' }}
	  				</td>
	  			</tr>
	  		</table>
	  		<edit-contact-modal-view :customer="contactClone" v-if="showEditForm" @customerEditedSuccessfully="closeEditForm" @closeForm="closeEditFormWithoutSaving"></edit-contact-modal-view>
	  </div>
	  <div class="actions" v-if="!showEditForm">
	  	<div class="ui four buttons">
			<div  class="ui green button" v-if="this.$store.state.product_ids.length > 0" v-on:click="sendWishlist()"><i class="heart icon"></i><i class="mail icon"></i><span class="mobile hidden">Send WishList</span></div>
  		  	<div  class="ui green button" v-on:click="openSingleMessageBox(contact.id)" v-if="this.$store.state.is_admin"><i class="comment icon"></i><span class="mobile hidden">Send Message</span></div>
		  	<div  class="ui blue button" v-on:click="editContact"><i class="pencil icon"></i><span class="mobile hidden">Edit</span></div>
  		  	<div class="ui red button" v-on:click="deleteContact()"><i class="remove icon"></i><span class="mobile hidden">Delete</span></div>
	  	</div>
	  </div>
	  <div class="controls" v-if="!isMobile">
	  	<a href="#" class="ui circular icon button large white ContactNav Next" @click.prevent="getNextContact()"><i class="right chevron icon"></i></a>
	  	<a href="#" class="ui circular icon button large white ContactNav Prev" @click.prevent='getPrevContact()'><i class="left chevron icon"></i></a>
	  </div>
	</div>
</template>
<script>
	import moment from 'moment';
	import Noty from 'noty'
	import _ from 'lodash'
	import EditContactModalView from 'contacts/EditContactModalView.vue'
	export default {
		data () {
			return {
				showLoader: false,
				showEditForm: false,
				contactClone: {}
			}
		},
		computed: {
			isMobile () {
				return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1 || window.innerWidth < 768);
			}
		},
		props: ['contact', 'bus', 'user', 'index'],
		components: {EditContactModalView},
		beforeDestroy() {
			this.$nextTick(function() {
				$('#SingleContactModal').remove()
			})
		},
		beforeCreate() {
			$('#SingleContactModal').remove()
		},
		created() {
			var vm = this
			this.$nextTick(function() {
				$('#SingleContactModal').modal({
					onHide: function () {
						vm.showEditForm = false
					}
				});
			})
			this.bus.$on('showSingleContactModal', function() {
				this.$nextTick(function() {
					$('#SingleContactModal').modal('show');
				})
			})
			this.bus.$on('loadingContacts', function() {
				this.showLoader = true
			})
			this.bus.$on('loadingContactsDone', function() {
				this.showLoader = false
			})
		},
		mounted () {
			this.contactClone = _.clone(this.contact)
		},
		methods: {
			sendWishlist() {
				if(!this.contact.email) {
					alert('Contact has no email address. Please edit the contact first');
				} else {
					if(confirm('Send wishlist to '+this.contact.first_name)) {
						this.showLoader = true
						var data={
							customer_ids: new Array(),
							product_ids: new Array()
						}
						data.customer_ids.push(this.contact.id)
						data.product_ids = this.$store.state.product_ids
						this.$http
							.post(api_host + '/wishlist', data, 
							{
								headers :{
									Authorization : this.$store.state.token
								}
							}
						)
						.then(
							function (response) {
								new Noty({
								  type: 'success',
								  layout: 'topRight',
								  theme: 'mint',
								  timeout:1000,
								  text: 'Wishlist successfully sent to ' + this.contact.first_name
								}).show()
								this.showLoader = false
							},
							function (error) {
								new Noty({
								  type: 'error',
								  layout: 'topRight',
								  theme: 'mint',
								  timeout:1000,
								  text: 'Their was some error in sending the wishlist, check the user`s email and try again'
								}).show()
								this.showLoader = false
							}
						)
					}
				}
			},
			getNextContact() {
				this.showEditForm = false
				this.$emit('getNextContact', this.index)
			},
			getPrevContact() {
				this.showEditForm = false
				this.$emit('getPrevContact', this.index)
			},
			moment(val) {
				if(val != null) {
					return moment(val).format('DD/MM/YYYY')
				}
				return '-';
			},
			closeModal() {
				this.$nextTick(function() {
					$('#SingleContactModal').modal('hide')
				})
			},
			editContact() {
				this.showEditForm = !this.showEditForm
				this.$nextTick(function() {
					$('#SingleContactModal').modal('refresh')
				})
			},
			closeEditForm(editedCustomer) {
				this.showEditForm = false
				this.$emit('edited', editedCustomer)
				this.contactClone = _.clone(editedCustomer)
				this.$nextTick(function() {
					$('#SingleContactModal').modal('refresh')
				})
			},
			closeEditFormWithoutSaving() {
				this.showEditForm = false
				this.contactClone = _.clone(this.contact)
				this.$nextTick(function() {
					$('#SingleContactModal').modal('refresh')
				})
			},
			lowercase(val) {
				if(val != null) {
					return val.toLowerCase()
				}
				return '-';
			},
			deleteContact() {
				if(confirm('Really delete contact?')) {
					this.showLoader = true
					this.$http
					.delete(api_host + '/customers/' + this.contact.id,
					{
						headers:{
							Authorization : this.$store.state.token
						}
					}
					)
					.then(
						function (response) {
							new Noty({
							  type: 'success',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'Contact deleted.'
							}).show()
							this.showLoader = false
							this.$emit('deleted', this.contact)
							this.$nextTick(function() {
								$('#SingleContactModal').modal('hide')
							})
						},
						function (error) {
							this.showLoader = false
							new Noty({
							  type: 'error',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'Something went wrong, try again!'
							}).show()
						}
					)
				}
			}
		},
		filters: {
			moment(val) {
				if(val != null) {
					return moment(val).format('DD/MM/YYYY')
				}
				return '-';
			},
			capitalize: function (value) {
				if (!value) return ''
				value = value.toString()
				return value.charAt(0).toUpperCase() + value.slice(1)
			},
			lowercase: function (value) {
				if (!value) return ''
				value = value.toString()
				return value.toLowerCase()
			}
		},
		watch: {
			'contact': function () {
				this.contactClone = _.clone(this.contact)
			}
		}
	}
</script>