<template>
	<span>
		<i class="up angle icon" v-if="sort_by==current && sort_order=='ASC'" style="margin-right:0px;"></i>
		<i class="down angle icon" v-if="sort_by==current && sort_order=='DESC'" style="margin-right:0px;"></i>
	</span>
</template>
<script>
	export default {
		props: ['current', 'sort_by', 'sort_order']
	}
</script>