<template>
	<tfoot>
		<tr>
			<th :colspan="noOfActiveFields">
					<a 
					href="#" 
					@click.prevent='loadMore' 
					class="ui fluid basic button"
					style="max-width:400px;" 
					:class="{ loading: loadingContacts }"
					v-show="!contactsEnd"
					>
					Load More
					</a>
					<div v-show="contactsEnd">
						  	No more Contacts
					</div>
			</th>
		</tr>
	</tfoot>
</template>
<script>
	export default {
		data () {
			return {
				showMore: true
			}
		},
		props: ['contactFields', 'loadingContacts', 'contactsEnd'],
		computed: {
			noOfActiveFields() {
				var t=0
				for(var i in this.contactFields) {
						if (this.contactFields[i] == true) {
							t++;
						}
				}
				return t+1;
			}
		},
		methods: {
			loadMore() {
				this.$emit('loadMoreContacts');
			}
		}
	}
</script>