<template>
	<thead>
		<tr>
			<th class="collapsing">
				<a href='#' @click.prevent="sortBy('ID')">
					<span v-if="sort_by != 'ID'"><i class="angle right icon" style="margin-right: 0"></i></span>
					<sort-icon current='ID' :sort_by="sort_by" :sort_order="sort_order"></sort-icon>
				</a>
			</th>
			<th v-if="contactFields.name">
				<a href='#' @click.prevent="sortBy('name')">
					Name
					<sort-icon current='name' :sort_by="sort_by" :sort_order="sort_order"></sort-icon>
				</a>
			</th>
			<th v-if="contactFields.email">
				<a href='#' @click.prevent="sortBy('email')">
					Email
					<sort-icon current='email' :sort_by="sort_by" :sort_order="sort_order"></sort-icon>
				</a>
			</th>
			<th v-if="contactFields.mobile">
				<a href='#' @click.prevent="sortBy('mobile_number')">
					Mobile
					<sort-icon current='mobile' :sort_by="sort_by" :sort_order="sort_order"></sort-icon>
				</a>
			</th>
			<th>
				Status
			</th>
		</tr>
	</thead>
</template>
<script>
	import SortIcon from 'contacts/table/SortIcon.vue'
	export default {
		data () {
			return {
				sort_by:'id',
				sort_order:'DESC',
				curr_order: 'DESC'
			}
		},
		props: ['contactFields'],
		components: { SortIcon },
		methods: {
			sortBy(key) {
				this.curr_order = this.curr_order == 'ASC' ? 'DESC' : 'ASC'
				this.sort_by = key
				this.sort_order=this.curr_order
				this.$emit('sortContactsBy', key, this.curr_order)
			}
		}
	}
</script>