.CenteredBlock {
  max-width: 300px;
  width: 90%;
  margin: 2em auto; }
  @media only screen and (min-width: 1000px) {
    .CenteredBlock {
      margin-top: 4em; } }
  .CenteredBlock .CCHeader h1 {
    color: #fff; }
  .CenteredBlock .CCHeader img {
    display: block;
    margin: 0 auto;
    max-width: 200px; }
    @media only screen and (min-width: 992px) {
      .CenteredBlock .CCHeader img {
        max-width: 100%; } }
  .CenteredBlock .CCContent {
    margin: 1em 0; }

.ui.buttons > * {
  margin-right: 1px !important; }
  .ui.buttons > *:last-child {
    margin-right: 0px !important; }

.ui.button {
  font-weight: normal; }
  .ui.button.Blue:hover {
    background: #164968;
    color: #fff; }
  .ui.button.Red:hover {
    background: #FF5F5F;
    color: #fff; }
  .ui.button.Gold {
    background: #EDBF3F;
    color: #fff;
    padding: .8em 2em; }
    .ui.button.Gold:hover {
      background: #e4ad15; }
  .ui.button.Heart {
    background: #FF5F5F;
    color: #fff; }
    .ui.button.Heart i {
      margin: 0 !important;
      color: #fff; }
    .ui.button.Heart:hover {
      background: #ff2c2c; }
  .ui.button.Round {
    border-radius: 50px; }
  .ui.button.Secondary {
    opacity: .6;
    background: none; }
    .ui.button.Secondary:hover {
      opacity: 1; }
    .ui.button.Secondary.Light {
      color: #fff; }
    .ui.button.Secondary.Dark {
      color: #444444; }
    .ui.button.Secondary.Border {
      border: #444444 1px solid; }
      .ui.button.Secondary.Border:hover {
        color: #fff;
        background: #444444; }
    .ui.button.Secondary.Grey {
      background: #c4c4c4; }
      .ui.button.Secondary.Grey:hover {
        background: #444444; }
  .ui.button.LoadMore {
    padding: 1em 4em;
    color: #c4c4c4;
    background: none;
    border: #c4c4c4 2px solid; }
    .ui.button.LoadMore:hover {
      color: #164968;
      border-color: #164968; }

form.GoldForm input {
  display: block;
  padding: 1em 1em;
  border: #EDBF3F 2px solid;
  border-radius: 40px;
  font-size: 1em;
  color: #fff;
  background: none;
  width: 100%;
  margin: 1em 0;
  text-align: center; }
  form.GoldForm input:focus {
    outline: none;
    border-color: #fff; }

form.GoldForm .Actions {
  text-align: center; }

.Header {
  background: #164968;
  padding: 1em .5em;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }
  .Header a.Logo {
    flex-grow: 1;
    flex-basis: 100;
    margin-left: .5em; }
    .Header a.Logo img {
      max-height: 48px; }
  .Header .Actions {
    text-align: right;
    flex-shrink: 1;
    flex-basis: 50;
    position: relative; }
    .Header .Actions a {
      margin: 0 .5em;
      color: #EDBF3F;
      display: inline-block;
      position: relative; }
      .Header .Actions a i {
        font-size: 1.5em;
        vertical-align: middle; }
      .Header .Actions a:hover {
        color: #fff; }
      .Header .Actions a .Label {
        border-radius: 50%;
        background: #EDBF3F;
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        vertical-align: middle;
        color: #fff;
        margin-left: .2em; }
      .Header .Actions a span {
        display: none; }
      @media only screen and (min-width: 992px) {
        .Header .Actions a span {
          display: inline-block; } }

.Content {
  padding-top: 80px; }
  .Content.Larger {
    padding-top: 120px; }
  .Content h1 {
    color: #164968;
    font-weight: normal; }
  .Content h2 {
    color: #164968;
    font-size: 1.6em;
    font-weight: normal; }
  .Content .ContentStuff > .column {
    margin-bottom: 1em !important; }

.ui.card.ProductCard {
  position: relative; }
  .ui.card.ProductCard .ui.image {
    background: none; }
    .ui.card.ProductCard .ui.image img {
      padding: 2px; }
  .ui.card.ProductCard .content {
    display: block; }
    .ui.card.ProductCard .content .header {
      font-weight: normal !important;
      color: #164968;
      line-height: 1.6;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .ui.card.ProductCard .content .meta {
      line-height: 1.3;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .ui.card.ProductCard .like {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c4c4c4; }
    .ui.card.ProductCard .like:hover {
      color: #FF5F5F; }
    .ui.card.ProductCard .like.Liked {
      color: #FF5F5F; }
      .ui.card.ProductCard .like.Liked:hover {
        color: #c4c4c4; }
  .ui.card.ProductCard:hover {
    transform: translateY(-2px); }

.ProductSlider {
  padding: .8em .3em;
  background: #11374f; }
  @media only screen and (min-width: 992px) {
    .ProductSlider {
      padding: 1em; } }
  .ProductSlider .swiper-slide {
    opacity: .3;
    transform: scale(0.98);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }
    .ProductSlider .swiper-slide.swiper-slide-active, .ProductSlider .swiper-slide.swiper-slide-duplicate-active {
      opacity: 1;
      transform: scale(1); }
  .ProductSlider a {
    line-height: 0px; }
  .ProductSlider img {
    max-width: 100%; }

.ProductDescription {
  padding: 1em;
  text-align: center; }

@media only screen and (min-width: 60em) {
  .EstimateForm {
    display: flex; } }

.EstimateForm h3 {
  color: #EDBF3F; }

.EstimateForm .Left {
  padding: 1em; }
  @media only screen and (min-width: 60em) {
    .EstimateForm .Left {
      flex-grow: 1;
      width: 50%;
      padding: 2em;
      border-right: #aaaaaa thin solid;
      border-radius: 4px 0 0 4px; } }

.EstimateForm .Right {
  display: none; }
  @media only screen and (min-width: 60em) {
    .EstimateForm .Right {
      flex-grow: 1;
      position: relative;
      height: auto;
      width: 50%;
      background: #fefdfa;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 4px 4px 0; } }
  .EstimateForm .Right div {
    text-align: center; }
    .EstimateForm .Right div h3 {
      color: #164968; }
    .EstimateForm .Right div img {
      display: none; }
      @media only screen and (min-width: 60em) {
        .EstimateForm .Right div img {
          max-width: 200px;
          display: block; } }
    .EstimateForm .Right div p.price {
      font-size: 2.4em; }
  .EstimateForm .Right:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    width: 100px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.056+0,0+100 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.05) 0%, transparent 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.05) 0%, transparent 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.05) 0%, transparent 100%);
    /* W3C, IE10+, FF1+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29000000', endColorstr='#00000000',GradientType=1 );
    /* IE6-9 */ }
  .EstimateForm .Right:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 100px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.05+100 */
    background: -moz-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.05) 100%);
    /* W3C, IE10+, FF1+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#29000000',GradientType=1 );
    /* IE6-9 */ }

.EstimateForm .Bottom {
  border-radius: 0px 0px 4px 4px;
  background: #fefdfa;
  display: flex;
  align-items: center;
  padding: 1em;
  border-top: #aaaaaa thin solid; }
  .EstimateForm .Bottom div.BLeft {
    flex-grow: 1; }
    .EstimateForm .Bottom div.BLeft h3 {
      margin-bottom: 0; }
    .EstimateForm .Bottom div.BLeft p {
      font-size: 1.8em; }
  .EstimateForm .Bottom div.BRight {
    text-align: right; }
  @media only screen and (min-width: 60em) {
    .EstimateForm .Bottom {
      display: none; } }

.AppList {
  margin: 0 -1em;
  padding: 0 1em; }
  .AppList > .Row {
    display: flex;
    border-bottom: #dedede thin solid;
    color: #222222;
    flex-direction: row; }
    .AppList > .Row:not(:first-child) {
      padding-top: 1em; }
    .AppList > .Row:not(._nowrap) {
      flex-direction: column; }
    .AppList > .Row.Headings {
      display: none; }
      @media only screen and (min-width: 60em) {
        .AppList > .Row.Headings {
          display: flex;
          font-weight: bold; } }
    @media only screen and (min-width: 60em) {
      .AppList > .Row:not(:first-child) {
        padding-top: 0; }
      .AppList > .Row:not(._nowrap) {
        flex-direction: row; } }
    .AppList > .Row:nth-child(even) {
      background: #fafafa; }
    .AppList > .Row:hover {
      background: #f2f2f2; }
    .AppList > .Row:last-child {
      border: none; }
    .AppList > .Row > .Section {
      padding: .25em; }
      @media only screen and (min-width: 60em) {
        .AppList > .Row > .Section {
          padding: .975em; } }
      .AppList > .Row > .Section > .Row {
        display: flex;
        align-items: center; }
        .AppList > .Row > .Section > .Row > .Section {
          padding: 0 .975em 0 0; }
    .AppList > .Row._relaxed {
      padding: .975em; }
      @media only screen and (min-width: 60em) {
        .AppList > .Row._relaxed {
          padding: 0em; } }
    .AppList > .Row .Section.Thumbnail {
      padding-bottom: .25em; }
      .AppList > .Row .Section.Thumbnail img {
        max-width: 60px;
        padding: 2px;
        border: #dedede thin solid;
        border-radius: 3px; }
    .AppList > .Row .Section.Buttons .ui.buttons {
      width: 100%; }
      @media only screen and (min-width: 60em) {
        .AppList > .Row .Section.Buttons .ui.buttons {
          width: auto; } }
    .AppList > .Row .Section:not(.noGrow) {
      flex-grow: 1;
      flex-basis: none; }
      @media only screen and (min-width: 60em) {
        .AppList > .Row .Section:not(.noGrow) {
          flex-basis: 100px; }
          .AppList > .Row .Section:not(.noGrow).Title {
            flex-basis: 140px; }
          .AppList > .Row .Section:not(.noGrow).Tags {
            flex-basis: 140px; } }
    .AppList > .Row .Section > .Item.center-aligned {
      text-align: center; }
    @media only screen and (min-width: 60em) {
      .AppList > .Row .Section > .Item.right.aligned {
        text-align: right; } }
    .AppList > .Row .Section > .Item > .header {
      font-size: 1.3em;
      font-weight: bold; }
    .AppList > .Row .Section > .Item > .sub {
      font-weight: normal;
      color: #888888; }

html {
  min-height: 100%; }

body.pushable > .pusher {
  background: #FEFCF8; }

body {
  background: #FEFCF8; }
  body.blue.pushable {
    background: #164968 !important; }
  body.flex-centered {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }

.pusher {
  padding-bottom: 2em; }

a {
  color: #2884bc; }
  a:hover {
    color: #EDBF3F; }

hr {
  margin: 1em 0;
  border: none;
  background: #d4e9f6;
  height: 1px; }

.LoginForm {
  width: 100%;
  margin: 4em auto; }
  @media only screen and (min-width: 992px) {
    .LoginForm {
      width: 100%; } }

.ui.rail {
  max-width: 100%; }

.loadMore {
  margin: 2em 0px;
  text-align: center; }

#Menu.ui.menu {
  background: #164968;
  height: 100vh; }
  #Menu.ui.menu .item.header {
    text-transform: uppercase;
    letter-spacing: .03em;
    opacity: .6;
    font-size: .9em;
    font-weight: normal;
    margin-top: 1.5em;
    padding-left: 1.2em; }
  #Menu.ui.menu .item.subheader {
    padding-left: 1.2em;
    margin-top: 1em;
    text-transform: uppercase; }

.ui.segment.noPadding {
  padding: 0px; }

.mylist.ui.list.divided.relaxed .item {
  padding: .8em; }

.ui.relaxed.list.subItems {
  padding-left: 1.4em; }

.ui.form input:not([type]):focus, .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=email]:focus, .ui.form input[type=file]:focus, .ui.form input[type=number]:focus, .ui.form input[type=password]:focus, .ui.form input[type=search]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=text]:focus, .ui.form input[type=time]:focus, .ui.form input[type=url]:focus {
  border-color: #EDBF3F; }

#desktopContactsTable {
  display: none; }

@media only screen and (min-width: 1000px) {
  #desktopContactsTable {
    display: block; } }

#mobileContactsTable {
  display: block; }

@media only screen and (min-width: 1000px) {
  #mobileContactsTable {
    display: none; } }

h1 > .ui.button {
  float: right; }

h1 .ui.buttons {
  width: 100%; }
  @media only screen and (min-width: 60em) {
    h1 .ui.buttons {
      width: auto;
      margin: 0;
      float: right; } }

.rolledUpOnPhone > *.rollable {
  display: none; }
  @media only screen and (min-width: 60em) {
    .rolledUpOnPhone > *.rollable {
      display: block; } }

@media only screen and (min-width: 60em) {
  .rolledUpOnPhone .RollerButton {
    display: none; } }

.RollerButton {
  display: block;
  width: 100%; }
  @media only screen and (min-width: 60em) {
    .RollerButton {
      display: none; } }

span.required {
  color: #FF5F5F; }

.ui.form .multiselect input[type=text], .ui.form .multiselect single {
  border: 0;
  padding: 0 .5em;
  margin: 0;
  width: auto; }

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6; }

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7; }

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: .3em;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  background: rgba(255, 95, 95, 0.3);
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in; }

.parsley-errors-list.filled {
  opacity: 1; }

span.info {
  color: #999; }

/*# sourceMappingURL=app.css.map */
