$vjBlue: #164968;
$vjYellow: #EDBF3F;
$white: #fff;
$grey: #444444;
$vjCream: #FEFCF8;
$vjRed: #FF5F5F;
$black: #222222;
 
@import 'components/CenteredBlock';
@import 'components/Buttons';
@import 'components/GoldForm';
@import 'components/Header';
@import 'components/Content';
@import 'components/ProductCard';
@import 'components/ProductSlider';
@import 'components/ProductDescription';
@import 'components/EstimateForm';
@import 'components/AppList';
@import 'components/DashboardLayout';

html {
  min-height: 100%;
}

body.pushable > .pusher {
  background: $vjCream;
}
.pushable>.pusher:after {
  z-index:2500;
}
body {
  background: $vjCream;

  &.blue.pushable {
    background: $vjBlue !important;
  }

  &.flex-centered {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.ui.uncover.sidebar {
  z-index:3000;
}
body:not(.noPusherBottomPadding)  {
  padding-bottom: 2em;
}

@media only screen and (min-width: 1200px) {
  .ui.container {
    max-width: 95%;
    width: 95%;
  }
}

a {
  color: lighten($vjBlue, 20%);
  &:hover {
    color: $vjYellow;
  }
}
hr {
  margin: 1em 0;
  border:none;
  background: lighten($vjBlue, 65%);
  height:1px;
}
.LoginForm {
  width: 100%;
  margin:4em auto;
  @media only screen and (min-width: 992px) {
    width:100%;
  }
    
}

.ui.rail {
  max-width:100%;
}

.loadMore {
  margin: 2em 0px;
  text-align: center;
}

#Menu.ui.menu {
  background: $vjBlue;
  height: 100vh;
  .item.header {
      text-transform: uppercase;
      letter-spacing:.03em;
      opacity:.6;
      font-size:.9em;
      font-weight:normal;
      margin-top: 1.5em;
      padding-left: 1.2em;
  }
  .item.subheader {
    padding-left: 1.2em;
    margin-top: 1em;
    text-transform: uppercase;
  }
  .item {
  }
}

.ui.segment.noPadding {
  padding: 0px;
}
.item {
  &:hover {
    background: rgba(0,0,0,.02) !important;
  }
}
.ui.list.relaxed.divided.collectionList {
  .item {
    padding: .8em;
    position: relative;
    &.inactive {

    }
    .content {
      position: relative;
    }
    .overlay {
      position: absolute;
      top: 0; left: 0 ; right: 0; bottom: 0;
      z-index: 1;
      background: rgba(255,255,255,.6);
    }
  }
}
.mylist.ui.list.divided {
  &.relaxed {
    .item {
      padding: 0em;
      .content {
        padding: .75em 1em .5em;
      }
      .item {
        padding: 0;
        .content {
          border-top:1px solid rgba(34,36,38,.15);
        }
      }
      &.level1 {
        .content {
          padding-left: 2em;
        }
      }
      &.level2 {
        .content {
          padding-left: 4em;
        }
      }
      &.level3 {
        .content {
          padding-left: 6em;
        }
      }
      &.level4 {
        .content {
          h3 {
            font-size: 1em;
          }
        }
      }
      &.level5 {
        .content {
          h3 {
            font-size: .8em;
          }
        }
      }
    }
  }
  
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.ui.form input:not([type]):focus, .ui.form input[type=date]:focus, .ui.form input[type=datetime-local]:focus, .ui.form input[type=email]:focus, .ui.form input[type=file]:focus, .ui.form input[type=number]:focus, .ui.form input[type=password]:focus, .ui.form input[type=search]:focus, .ui.form input[type=tel]:focus, .ui.form input[type=text]:focus, .ui.form input[type=time]:focus, .ui.form input[type=url]:focus {
  border-color: $vjYellow;
}

#desktopContactsTable {
  display: none;
}
@media only screen and (min-width: 1000px) {
  #desktopContactsTable {
    display: block;
  }
}

#mobileContactsTable {
  display: block;
}
@media only screen and (min-width: 1000px) {
  #mobileContactsTable {
    display: none;
  }
}

h1 {
  & > .ui.button {
    float: right;
    margin-top:4px;
  }
  & > .down.arrow.link {
    font-size: .5em;
    vertical-align: middle;
    @media only screen and (min-width: 768px) {
      font-size: .7em;
    }
  }
  .ui.buttons {
    width: 100%;
    @media only screen and (min-width: 60em) {
      width: auto;
      margin: 0;
      float:right;
    }
  }
}
.rolledUpOnPhone {
  & > *.rollable {
    display: none;
    @media only screen and (min-width: 60em) {
      display: block; 
    }
  }
  @media only screen and (min-width: 60em) {
    .RollerButton {
      display: none;
    }
  }

}
.RollerButton {
  display: block;
  width: 100%;
  @media only screen and (min-width: 60em) {
    display: none;
  }
}

span.required {
  color:$vjRed;
}
.ui.form  {
  .multiselect input[type=text], .multiselect single {
    border: 0;
    padding: 0 .5em;
    margin: 0;
    width: auto;
  }
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: .3em;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  background: rgba($vjRed, .3);
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
span.info {
  color: #999;
}
.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
  background-color: #194967!important;
}

p.small {
  opacity: .6;
  font-size: .8em;
  margin:.3em 0;
}

/*
 * Container style
 */
.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */
.ps__rail-x {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  height: 15px;
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-y {
  display: none;
  opacity: 0;
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  width: 15px;
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  /* please don't change 'position' */
  position: absolute;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
  background-color: #eee;
  opacity: 0.9;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
  height: 6px;
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__thumb-y {
  background-color: #aaa;
  border-radius: 6px;
  transition: background-color .2s linear, width .2s ease-in-out;
  -webkit-transition: background-color .2s linear, width .2s ease-in-out;
  width: 6px;
  /* there must be 'right' for ps__thumb-y */
  right: 2px;
  /* please don't change 'position' */
  position: absolute;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
  background-color: #999;
  height: 11px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
  background-color: #999;
  width: 11px;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}

/*! nouislider - 10.1.0 - 2017-07-28 17:11:18 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}
.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 8px;
  margin: 1em;
}
.noUi-horizontal .noUi-handle {
  width: 28px;
  height: 28px;
  left: -17px;
  top: -11px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}
/* Styling;
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connect {
  background: $vjBlue;
  border-radius: 4px;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 50%;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
  &:focus {
    outline: none;
  }
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 11px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 20px;
  top: 100%;
  left: -3px;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 120%, 0);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  padding-left: 25px;
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

/* Semantic UI has these classes, however they're only applicable to*/
/* grids, containers, rows and columns.*/
/* plus, there isn't any `mobile hidden`, `X hidden` class.*/
/* this snippet is using the same class names and same approach*/
/* plus a bit more but to all elements.*/
/* see https://github.com/Semantic-Org/Semantic-UI/issues/1114*/

/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}

.ui.table.thin td {
  padding: 2px 10px;
}
.ui.table.thin.fixedWidth td {
  max-width: 100px;
  overflow:hidden;
  text-overflow: ellipsis;
}
.ui.table.thin tr.filters td {
  padding: 0px;
  background:#fff !important;
  &:not(.skip) {
    min-width: 100px;
  }
}
.ui.table.thin tr.filters td input:not([type=checkbox]), .ui.table.thin tr.filters td select {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  border: none;
  border-radius: 0px;
  box-sizing: border-box;
  -webkit-appearance: none;
}
.ui.table.thin tr.filters td .ui.selection {
  font-size: 12px;
  border: none;
}
.ui.table.thin tr.filters td .ui.button {
  padding:6px 3px; border: 0px;
  box-shadow: none;
}
.ui.table.thin tr.thead th:not(:first-child){
  padding:0px !important;
  border-bottom:0px solid rgba(34,36,38,.1) !important;
}
.ui.selection.dropdown.thin{
  width: 100% !important;
}
.ui.Gold.right.floated.left.labeled.icon.button{
  margin-right:3.5px !important;
}

.ui.table.thin .field input{
  padding: 0px;
}
.ui.checkbox.thin {
  font-size:0px !important;
}

.wishlist {
      float: right;
      font-size: 15px;
      padding: 0px 5px;
      margin: 2px 0px;
  }

#desktopContactsTable {
  display: none;
}
@media (min-width: 1000px) {
  #desktopContactsTable {
    display: table;
  }
}
#importButton {
  display: none;
}
#mobileContactsTable {
  display: table;
  margin-top: 0;
}
@media (min-width: 1000px) {
  #mobileContactsTable {
    display: none;
  }
  #importButton {
    display: block;
  }
}

#mobileContactsTable a.CustomerMobile {
  font-size: 14px;
  color:#444;
  font-weight:bold;
}
#mobileContactsTable a.CustomerMobile span {
  float: right;
  font-weight: normal;
}
.flatpickr-calendar.open {
  z-index:5000 !important;
}

.GroupCard {
  padding: .6em 1em;
  text-align: center;
  display: block;
  color:$vjBlue;
  &:hover {
    color: #222;
  }
}

.no-internet {
  position: fixed;
  top: 0; left:0; right:0; bottom:0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:10000;
  background: $vjBlue;
  text-align: center;
  color:#fff;
}
@media only screen and (max-width:767px) {
  .ui.stackable.table {
    thead {
      display: none;
    }
  }
}

#visibleFieldsDropdown {
  & > .menu {
    padding-top:.6em;
    padding-bottom: .6em;
  }
  .item {
    padding-top:.3em !important;
    padding-bottom: .3em !important;
  }
}




