<template>
		<header class="Header" :class="{hidden: !this.$store.state.showHeader}" style="background: #337ab7">
			<router-link :to="{name: 'home'}" class="Logo"><img src="https://www.targetintegration.com/wp-content/uploads/2017/12/HorizontalTI_Logo_white240x32.png" /></router-link>
			<div class="Actions">
			  <router-link :to="{name: 'allWishlists'}" v-if="this.$store.state.user">
			  	<i class="heart icon"></i>
			  	<div class="ui white floating tiny circular label">{{this.$store.state.product_ids.length}}</div>
			  </router-link>
			  <a href="#" class="MenuIcon" id="SideMenu">
			  	<i class="content icon"></i>
			  </a>
			</div>
		</header>
</template>
<script>
	export default {
		data () {
			return {
				num: 0
			}
		},
		created () {
			this.$nextTick(function() {
				$('#SideMenu').click(function(event) {
					event.preventDefault();
					$('#Menu').sidebar('show');
				});
			})
		}
	}
</script>
<style scoped>
	.hidden {
		visibility:  hidden;
	}
</style>