<template>
	<!-- HS: Corrected a lot of the UI here -->
	<div class="ui right fixed vertical inverted sidebar overlay menu" id="Menu">
	  <router-link :to="{name: 'catalogueView'}" class="item" active-class="active" exact >
	    <i class="diamond icon"></i>
	    Catalogue
	  </router-link>
	  <router-link :to="{name: 'allContacts'}" class="item" active-class="active" v-if="user">
	    <i class="star icon"></i>
	    Contacts
	  </router-link>
	  <router-link :to="{name: 'settingView'}" class="item" active-class="active" v-if="user.is_admin">
	    <i class="settings icon"></i>
	    Settings
	  </router-link>

	  <router-link :to="{ name: 'logout'}" class="item" active-class="active">
	  	<i class="sign out icon"></i>
	  	Logout
	  </router-link>

	</div>
	
</template>

<script>
	import $ from 'jquery';
	require('semantic');
	export default {
		computed: {
			user () {
				return this.$store.state.user
			}
		},
		mounted () {
			this.$nextTick(function() {
			    $('#Menu').sidebar({
			    	delaySetup: true,
			    	transition: 'overlay',
			    	onVisible: function() {
			    		$('body').addClass('showingMenu');
			    	},
			    	onHide: function () {
			    		$('body').removeClass('showingMenu');
			    	}
			    });
			})
		}
	}
</script>