.AppList {
	margin: 0 -1em;
	padding: 0 1em;
	& > .Row {
		display: flex;
		border-bottom: #dedede thin solid;
		color:$black;
		flex-direction: row;
		&:not(:first-child) {
			padding-top: 1em;
		}
		&:not(._nowrap) {
			flex-direction: column;
		}
		&.Headings {
			display: none;
			@media only screen and (min-width: 60em) {
				display: flex;
				font-weight: bold;
			}
		}
		@media only screen and (min-width: 60em) {
			&:not(:first-child) {
				padding-top: 0;
			}
			&:not(._nowrap) {
				flex-direction: row;
			}
		}
		&:nth-child(even) {
			background: #fafafa;
		}
		&:hover {
			background: #f2f2f2;
		}
		&:last-child {
			border:none;
		}
		& > .Section {
			padding:.25em;
			@media only screen and (min-width: 60em) {
				padding: .975em;
			}
			
			& > .Row {
				display: flex;
				align-items: center;
				& > .Section {
					padding: 0 .975em 0 0;
				}
			}
		}
		&._relaxed {
			padding: .975em;
			@media only screen and (min-width: 60em) {
				padding: 0em;
			}
		}
		.Section {
			&.Thumbnail {
				padding-bottom: .25em;
				img {
					max-width:60px;
					padding: 2px;
					border: #dedede thin solid;
					border-radius:3px;
				}
			}
			&.Buttons {
				.ui.buttons {
					width: 100%;
					@media only screen and (min-width: 60em) {
						width: auto;
					}
				}
			}
			&:not(.noGrow) {
				flex-grow: 1;
				flex-basis: none;
				@media only screen and (min-width: 60em) {
					flex-basis: 100px;
					&.Title {
						flex-basis: 140px;
					}
					&.Tags {
						flex-basis: 140px;
					}
				}
			}
			& > .Item {
				&.center-aligned {
					text-align: center;
				}
				&.right.aligned {
					@media only screen and (min-width: 60em) {
						text-align: right;
					}
				}
				& > .header {
					font-size:1.3em;
					font-weight: bold;
				}
				& > .sub {
					font-weight: normal;
					color:lighten($black, 40%);
				}
			}
		}
	}
}