.ui.buttons {
  & > * {
    margin-right: 1px !important;
    &:last-child {
      margin-right: 0px !important;
    }
  }
}
.ui.button {
  font-weight: normal;
  
  &.Blue:hover {
    background: $vjBlue;
    color:#fff;
  }
  &.Red:hover {
    background: $vjRed;
    color:#fff;
  }

  &.Gold {
    background: $vjYellow;
    color: $white;
    padding: .8em 2em;
    &.mobile.only {
      padding: .8em;
    }
    &:hover {
      background: darken($vjYellow, 10%);
    }
  }

  &.Heart {
    background: $vjRed;
    color:#fff;
    i {
      margin:0 !important;
      color:#fff;
    }
    &:hover {
      background: darken($vjRed, 10%);
    }
  }
  
  &.Round {
     border-radius:50px;
  }

  &.Secondary {
    opacity:.6;
    background:none;
    
    &:hover {
      opacity:1;
    }
    &.Light {
      color:$white;
    }

    &.Dark {
      color:$grey;
    }

    &.Border {
      border: $grey 1px solid;
      &:hover {
        color:#fff;
        background: $grey;
      }
    }

    &.Grey {
      background: lighten($grey, 50%);
      &:hover {
        background: $grey;
      }
    }

  }

  &.LoadMore {
    padding: 1em 4em;
    color:lighten($grey, 50%);
    background:none;
    border: lighten($grey, 50%) 2px solid;

    &:hover {
      color:$vjBlue;
      border-color: $vjBlue;
    }
  }

}