body.blue.pushable {

  height: 100vh;
  .pusher {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.CenteredBlock {
  max-width:300px;
  width:100%;
 
  .CCHeader {
    
    h1 {
      color:$white;
    }

    img {
      display: block;
      margin:0 auto;
      max-width:250px;

      @media only screen and (min-width: 992px) {
        max-width:100%;
      }
        
    }
  }

  .CCContent {
    margin: 1em 0;
  }

}