.Content {
  padding-top:80px;
  
  &.Larger {
    padding-top: 100px;
  }

  h1 {
    color:$vjBlue;
    font-weight:normal;
  }

  h2 {
    color: $vjBlue;
    font-size: 1.6em;
    font-weight: normal;
  }

  .ContentHeader {
    
  }
  
  .ContentStuff {
    & > .column {
      margin-bottom: 1em !important;
    }
  }
  
  .ContactsTable {
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh - 180px);
    overflow: scroll;
    padding: 0 1rem;
  }
}
.ContactNav {
  position:fixed;
  color:#fff;
  margin: 0 !important;
  right: 88px;
  top:2px;
  @media only screen and (min-width: 1024px) {
    left: -50px;
    right: auto;
    top:50%;
    transform: translateY(-50%);
  }
  &.Next {
    left: auto;
    right: 40px;
    @media only screen and (min-width: 1024px) {
      right: -50px;
    }
  }
}