.Content.Larger.Dashboard {
	height: 100%;
	padding-top: 80px;
	min-height: 100vh;
	padding-bottom: 3em;
	@media only screen and (min-width: 1024px) {
		padding-bottom: 0;
	}
	.Left {
		padding: 1em 1em 1em 1em;

	}
	.Right {
		padding: 1em 1em 1em 1em;
	}
	.Sidebar {
		position: fixed;
		top: 100%;
		left: 0;
		right: 0;
		z-index:2000;
		left:0px;
		overflow-y: auto;
		min-height: 100vh;
		max-height: 100vh;
		-webkit-transition: top .3s ease-in-out;
		-moz-transition: top .3s ease-in-out;
		-ms-transition: top .3s ease-in-out;
		-o-transition: top .3s ease-in-out;
		transition: top .3s ease-in-out;
		@media only screen and (min-width:1024px) {
			left: 0;
			width:300px;
			top:80px;
			right: auto;
			min-height: auto;
			overflow-y:hidden;
			max-height: calc(100vh - 80px);
			padding-bottom: 2em;
		}
		@media only screen and (max-width: 1024px) {
			&.FullScreen {
				display: block;
				padding: 0;
				border-radius:0;
				box-shadow: none;
				.ui.vertical.menu {
					border-radius: 0;
					box-shadow: none;
				}
			}
		}
		.ui.categories.menu {
			.item {
				&:not(.padding) {
					padding: 0;
				}
				-webkit-transition: all .3s ease-in-out;
				-moz-transition: all .3s ease-in-out;
				-ms-transition: all .3s ease-in-out;
				-o-transition: all .3s ease-in-out;
				transition: all .3s ease-in-out;
				a {
					display: block;
					padding: .92857143em 1.14285714em;
					color: $grey;
					-webkit-transition: all .3s ease-in-out;
					-moz-transition: all .3s ease-in-out;
					-ms-transition: all .3s ease-in-out;
					-o-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
					&:hover {
						color: $vjBlue;
					}
				}
			}
		}
	}
	.Content {
		margin-top: 20px;
		@media only screen and (min-width:1024px) {
			margin-left: 300px;
			margin-top: 0;
		}
	}
	.MobileSidebarToggle {
		position: fixed;
		bottom:0; left: 0; right: 0;
		border-radius:0px;
		display: block;
		z-index:2100;
		margin:0;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		@media only screen and (min-width: 1024px) {
			display: none;
		}
	}
}
body.showingPageSidebar {
	overflow-y:hidden;
	.Content.Larger.Dashboard {
		.Sidebar {
			left: 0px;
			top:0px;
			background: rgba(255,255,255,1);
			padding-bottom:4em;
		}
	}
}