.EstimateForm {

	@media only screen and (min-width: 60em) {
		display: flex;
	}
	h3 {
		color: $vjYellow;
	}
	.Left {
		padding: 1em;
		@media only screen and (min-width: 60em) {
			flex-grow: 1;
			width: 50%;
			padding:2em;
			border-right: lighten($grey, 40%) thin solid;
			border-radius: 4px 0 0 4px;
		}
		.StonesTable {
			th {
				font-size: 12px;
			}
			tr {
				td {
					padding:.2em;
					&:first-child {
						padding: .2em .5em;
						font-size: 12px;
						width:150px;
					}
					input {
						border:none;
					}
				}

			}
		}
	}
	.Right {
		display: none;
		@media only screen and (min-width: 60em) {
			flex-grow: 1;
			position: relative;
			height: auto;
			width: 50%;
			background: lighten($vjYellow, 40%);
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 0 4px 4px 0;
			padding-top: 2em;
			padding-bottom: 2em;
		}
		div {
			text-align: center;
			h3 {
				color: $vjBlue;
			}
			img {
				display: none;
				@media only screen and (min-width: 60em) {
					max-width:200px;
					display: block;
				}
			}
			p.price {
				font-size:2.4em;
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 0; bottom: 0px;
			left: 0; width: 100px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.056+0,0+100 */
			background: -moz-linear-gradient(left,  rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF1+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

		}
		&:after {
			content: '';
			position: absolute;
			top:0; bottom:0; right: 0px;
			width: 100px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.05+100 */
			background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* W3C, IE10+, FF1+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#29000000',GradientType=1 ); /* IE6-9 */

		}
	}
	.Bottom {
		border-radius: 0px 0px 4px 4px;
		background: lighten($vjYellow, 40%);
		display: flex;
		align-items: center;
		padding: 1em;
		border-top: lighten($grey, 40%) thin solid;
		div.BLeft {
			flex-grow: 1;
			h3 {
				margin-bottom:0;
			}
			p {
				font-size:1.8em;
			}
		}
		div.BRight {
			text-align: right;
		}
		@media only screen and (min-width: 60em) {
			display: none;
		}
	}
}