form.GoldForm {
  input {
    display: block;
    padding:1em 1em;
    border: $vjYellow 2px solid;
    border-radius:40px;
    font-size:1em;
    color:#fff;
    background:none;
    width:100%;
    margin:1em 0;
    text-align:center;

    &:focus {
      outline:none;
      border-color: $white;
    }
  }

  .Actions {
    text-align: center;
  }

}