.Header {
  background: $vjBlue;
  padding: 1em .5em;
  display: flex;
  align-items: center;
  position: fixed;
  top:0;
  left:0; right: 0;
  z-index:1000;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
  a.Logo {
    flex-grow:1;
    flex-basis: 100;
    margin-left:.5em;
    img {
      max-height: 48px;
    }
  }
  .Actions {
    text-align: right;
    flex-shrink: 1;
    flex-basis:50;
    position: relative;
    a {
      margin: 0 .5em;
      color:$vjYellow;
      display: inline-block;
      position: relative;
      i {
        font-size:1.5em;
        vertical-align: middle;
      }
      &:hover {
        color: $white;
      }
      .Label {
        border-radius:50%;
        background:$vjYellow;
        display: inline-block;
        width:20px;
        height:20px;
        line-height:20px;
        text-align: center;
        font-size:12px;
        vertical-align: middle;
        color:$white;
        margin-left:.2em;
      }
      span {
        display: none;
      }

      @media only screen and (min-width: 992px) {
        span {
          display: inline-block;
        }
      }
        

    }
  }
}