.ProductSlider {
  padding:.8em .3em;
  background: darken($vjBlue, 6%);
  
  @media only screen and (min-width: 992px) {
    padding:1em;
  }
    

  & .swiper-slide {
    opacity:.3;
    transform: scale(.98);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    &.swiper-slide-active, &.swiper-slide-duplicate-active {
      opacity:1;
      transform: scale(1);
    }
  }
  a {
    line-height: 0px;
  }
  img {
    max-width:100%;
  }
}