.ui.three.doubling.cards {
  .ui.card.ProductCard {
    width: calc(33.33333333% - .2em);
  }
}
.ui.four.doubling.cards {
  .ui.card.ProductCard {
    width: calc(25% - .2em);
  }
}
.ui.five.doubling.cards {
  .ui.card.ProductCard {
    width: calc(20% - .2em);
    margin: .1em;
  }
}
.ui.card.ProductCard {
  position: relative;
  margin: .1em !important;
  box-shadow: none;
  border-radius: .1em;
  border:#dedede thin solid;
  .ui.image {
    background:none;
    img {
      padding:2px;
    }
  }
  @media only screen and (max-width: 767px) {
    & {
        width: calc(50% - .2em) !important;
    }
  }

  .content {
    display: block;
    .header {
      font-weight: normal !important;
      color:$vjBlue;
      line-height:1.6;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .meta {
      line-height: 1.3;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .like {
    position:absolute;
    top:0px;
    right:0px;
    width:40px;
    height:40px;
    font-size:1.2em;
    z-index:10;
    display: flex;
    align-items: center;
    justify-content: center;
    color:lighten($grey, 50%);

    &:hover {
      color:$vjBlue;
    }

    &.Liked {
      color: $vjRed;
    }
  }
  
  &:hover {
    transform: translateY(-2px);
  }

}