<template>
	<!-- HS: No offset / chunk mechanism defined here! -->
	
	<div class="ContactsTable"> 
	          <table class="ui fluid selectable striped unstackable single line celled table ten column thin" style="width:100%">
	            <thead>
	              <tr>
	                <th width="1%" class="collapsing" style="padding: 2px 10px;">
	                	<div class="thin" style="width: 17px">
	                		<input type="checkbox" @change="toggleSelect"> <label for=""></label>
	                	</div>
	                </th>
	                <th width="25%" v-if="contactFields.name">Name</th>
	                <th width="15%" class="">Email</th>
	                <th width="15%" class="">Mobile</th>
	                <th width="15%" class="">Gender</th>
	                <th width="15%" class="">DOB</th>
	                <th width="15%" class="">DOA</th>
	                <th width="15%" class="">Address</th>
	                <th width="15%" class="">City</th>
	                <th width="15%" class="">State</th>
	                <th width="15%" class="">Pincode</th>
	                <th width="15%" class="">Company</th>
	                <th width="15%" class="">Notes</th>
	                <th width="49%">Labels</th>
	              </tr>
	            </thead>
	            <tbody>
  	              <tr class="filters">
  	              	<td>
  	              	</td>
  	              	<td>
            		    	<div class="item">
            		    	      	<!-- HS: Adding form here, works on submit now. -->
        		    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("name")'>
        		    		        <div class="ui fluid input">
        		    		        	<input type="text" placeholder="Search..." v-model="searchNameText">
        		    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
        		    		        </div>
        		    	      	</form>
            		    	</div>
  	              	</td>
  	              	<td>
  	    		    	<div class="item">
  	    		    	      	<!-- HS: Adding form here, works on submit now. -->
  			    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("email")'>
  			    		        <div class="ui fluid input">
  			    		        	<input type="text" placeholder="Search..." v-model="searchEmailText">
  			    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
  			    		        </div>
  			    	      	</form>
  	    		    	</div>
  	              	</td>
  	              	<td>
  	              		<div class="item">
            		    	      	<!-- HS: Adding form here, works on submit now. -->
        		    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("mobile")'>
        		    		        <div class="ui fluid input">
        		    		        	<input type="text" placeholder="Search..." v-model="searchMobile">
        		    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
        		    		        </div>
        		    	      	</form>
            		    	</div>
  	              	</td>
  	              	<td>
  	              		<div class="item">
            		    	      	<!-- HS: Adding form here, works on submit now. -->
        		    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("gender")'>
        		    		        <div class="ui fluid input">
        		    		        	<input type="text" placeholder="Search..." v-model="searchGender">
        		    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
        		    		        </div>
        		    	      	</form>
            		    	</div>
  	              	</td>
  	              	<td>
  	              		<div class="item">
            		    	      	<!-- HS: Adding form here, works on submit now. -->
        		    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("dob")'>
        		    		        <div class="ui fluid input">
        		    		        	<input type="text" placeholder="Search..." v-model="searchDob">
        		    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
        		    		        </div>
        		    	      	</form>
            		    	</div>
  	              	</td>

  	              	<td>
  	              		<div class="item">
            		    	      	<!-- HS: Adding form here, works on submit now. -->
        		    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("doa")'>
        		    		        <div class="ui fluid input">
        		    		        	<input type="text" placeholder="Search..." v-model="searchDoa">
        		    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
        		    		        </div>
        		    	      	</form>
            		    	</div>
  	              	</td>

  	              	<td>
  	              		<div class="item">
            		    	      	<!-- HS: Adding form here, works on submit now. -->
        		    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("address")'>
        		    		        <div class="ui fluid input">
        		    		        	<input type="text" placeholder="Search..." v-model="searchAddress">
        		    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
        		    		        </div>
        		    	      	</form>
            		    	</div>
  	              	</td>

  	              	<td>
  	              		<div class="item">
            		    	      	<!-- HS: Adding form here, works on submit now. -->
        		    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("city")'>
        		    		        <div class="ui fluid input">
        		    		        	<input type="text" placeholder="Search..." v-model="searchCity">
        		    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
        		    		        </div>
        		    	      	</form>
            		    	</div>
  	              	</td>
  	              	<td>
  	              		<div class="item">
            		    	      	<!-- HS: Adding form here, works on submit now. -->
        		    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("state")'>
        		    		        <div class="ui fluid input">
        		    		        	<input type="text" placeholder="Search..." v-model="searchState">
        		    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
        		    		        </div>
        		    	      	</form>
            		    	</div>
  	              	</td>

  	              	<td>
  	              		<div class="item">
            		    	      	<!-- HS: Adding form here, works on submit now. -->
        		    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("pincode")'>
        		    		        <div class="ui fluid input">
        		    		        	<input type="text" placeholder="Search..." v-model="searchPincode">
        		    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
        		    		        </div>
        		    	      	</form>
            		    	</div>
  	              	</td>

  	              	<td>
  	              		<div class="item">
            		    	      	<!-- HS: Adding form here, works on submit now. -->
        		    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("company")'>
        		    		        <div class="ui fluid input">
        		    		        	<input type="text" placeholder="Search..." v-model="searchCompany">
        		    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
        		    		        </div>
        		    	      	</form>
            		    	</div>
  	              	</td>

  	              	<td>
  	              		<div class="item">
            		    	      	<!-- HS: Adding form here, works on submit now. -->
        		    	      	<form action="#" class="ui form" @submit.prevent='updateSearchQuery("notes")'>
        		    		        <div class="ui fluid input">
        		    		        	<input type="text" placeholder="Search..." v-model="searchNotes">
        		    		        	<button class="ui small basic button icon"><i class="search icon"></i></button>
        		    		        </div>
        		    	      	</form>
            		    	</div>
  	              	</td>
  	              </tr>
	              <tr v-for="customer in customers">
	                <td class="collapsing" :data-tooltip="customer.first_name + ' ' + customer.last_name">
	                  <div class="ui checkbox" style="width:17px">
	                    <input type="checkbox" :checked="isChecked(customer.id)" @change="changeCustomerArray(customer.id)" :key="customer.id"> <label></label>
	                  </div>
	                </td>
	                <td>
						<a href='#' class="ui tiny icon"
							v-on:click.prevent="openOptionBox(customer)">
	                		{{customer.first_name | capitalize}} {{ customer.last_name | capitalize }}
						</a>
	                </td>
	                <td :data-tooltip="customer.first_name + ' ' + customer.last_name">
	                	{{customer.email}}
	                </td>
	                <td :data-tooltip="customer.first_name + ' ' + customer.last_name">{{customer.mobile}}</td>
	                
	                <td :data-tooltip="customer.first_name + ' ' + customer.last_name">
	                	<template v-if="customer.gender == 'M'">Male</template>
	                	<template v-else>Female</template>
	                </td>

	                <td :data-tooltip="customer.first_name + ' ' + customer.last_name">{{ customer.dob | moment }}</td>
	                <td :data-tooltip="customer.first_name + ' ' + customer.last_name">{{ customer.doa | moment }}</td>
	                <td :data-tooltip="customer.first_name + ' ' + customer.last_name">{{ customer.address_line_one }}, {{ customer.address_line_two }}</td>
	                <td :data-tooltip="customer.first_name + ' ' + customer.last_name">{{ customer.city }}</td>
	                <td :data-tooltip="customer.first_name + ' ' + customer.last_name">{{ customer.state }}</td>
	                <td :data-tooltip="customer.first_name + ' ' + customer.last_name">{{ customer.pin_code }}</td>
	                <td :data-tooltip="customer.first_name + ' ' + customer.last_name">{{ customer.company }}</td>
	                <td :data-tooltip="customer.first_name + ' ' + customer.last_name">{{ customer.notes }}</td>

	              </tr>
	            </tbody>
	            <tfoot>
	              <tr>
	                <th></th>
			      	<th>
			      		<a 
			      		href="#" 
			      		@click.prevent='loadMore' 
			      		class="ui basic button"
			      		:class="{ loading: loadingCustomers }"
			      		v-show="showMore"
			      		>
			      		Load More
			      		</a>
			      		<div v-show="!showMore">
			      			  	No More Customers
			      		</div>
			      	</th>
	                <th colspan="3">
	                	<!-- HS: Create this functionality -->
	                  
	                 	<div class="ui modal" id="messageForm">
	            	    	<i class="close icon"></i>
	            	    	<div class="ui inverted dimmer active" v-if="messageSending">
	            	    	  <div class="ui text loader">
	            	    	  sending Message... ({{this.$store.state.customer_array.length}})
	            	    	  </div>
	            	    	</div>
	            	      <div class="header">
	            	        Create Message
	            	      </div>
	            	      <div class="content">
	            	        <form action="#" 
	            	        	class="ui form"
        						data-parsley-validate
        						@submit.prevent="sendMessage"
        						id="send-message"
            	        	>
	            	          <div class="field">
	            	            <label for="">Message</label>
	            	            <p>You can use the following wild cards in your message: {first_name}, {last_name}</p>
	            	            <input type="text" v-model="message" />
	            	          </div>
	            	          <div class="field">
	            	            <button class="ui green button">Send Message</button>
	            	          </div>
	            	        </form>
	            	      </div>
	                  </div>
	                </th>
	              </tr>
	            </tfoot>
	          </table>
    </div>  
</template>
<script>
	// HS: API: Chunk & Offset are not working
	// HS: API: Different calls for search, tag and getCustomers. Combine to form 1 just like the products API call
	require('parsleyjs');
	import Noty from 'noty';
	import moment from 'moment';
	export default {
		data () {
			return {
				// HS: Inconsistent Formatting
				customers : new Array(),
				customer_array: this.$store.state.customer_array,
				contactFields: {
					name: true,
					email: true,
					mobile_number: true,
				},
				message:'',
				offset: 0,
				showImport: false,
				searchText: '',
				searchNameText:'',
				searchEmailText:'',
				searchMobile:'',
				refresh: false,
				file: '',
				exportedLink: -1,
				chunk: this.$store.state.pagination_chunk,
				globalChecked: false,
				showMore: true,
				tags:[],
				loadingCustomers:false,
				messageSending:false,
				user:{},
				tagValue:'',
				first_name_search:'',
				last_name_search:'',
				email_search:'',
				gender_search:'',
				mobile_search:'',
				home_phone_search:'',
				city:'',
				state:'',
				pin_code:'',
				notes:'',
				company:'',
				sendWishlistMultiple:false
			}
		},
		components:{ SelectTagComponent },
		created () {
			this.$parent.$on('update', this.setValue);
			this.$parent.$on('updateCustomers',this.updateCustomers);
			this.$nextTick(function() {
				$('#TagSelectionDropdown').dropdown();
			})
			this.getCustomers()
			this.user = this.$store.state.user
			this.getTags()
		},
		mounted ()
		{
			this.form = $('#send-message').parsley();
		},
		methods: {
			isChecked: function (id) {
				var index = $.inArray(id, this.$store.state.customer_array)
				if(index !== -1) {
					return true;
				}
				return false;
			},
			setValue: function (value) {
				this.changeCustomersArray(value)
			},
			updateCustomers: function () {
				this.removeSearchQuery();
				// console.log(this.customers);
			},
			importCustomer() {
			  console.log('herer');
			  if(this.file){
			    let data = new FormData();
			    data.append('import_file', this.file);
			    this.$http
			      .post(api_host + '/importExcel',data,
			        { 
			          headers: {'Authorization' :this.$store.state.token}
			        }
			    )
			    .then(
			      function(response){
			        console.log('doneimported')
			        var customers = response.body
			        console.log(customers)
			        for(var customer of customers) {
			          new Noty({
			          type: 'success',
			          layout: 'topRight',
			          theme: 'mint',
			          timeout: 1000,
			          text: customer.first_name + ' ' + customer.last_name + ' has been added to Customer list Successfully'
			          }).show()
			          this.file=''
			          this.showImport = true
				      this.customers.unshift(customer)
			        }
			        // this.$router.push({name:'allCustomers'})
			      },
			      function (err) {
			      	new Noty({
			      	type: 'error',
			      	layout: 'topRight',
			      	theme: 'mint',
			      	timeout: 1000,
			      	text: 'Something went wrong in importing customers, check the uploaded file and try again!'
			      	}).show()
			        this.file = ''
			        console.log('herher')
			        this.showImport = true
			      }
			    )
			  }
			},
			sync: function(e) {
			    e.preventDefault()
			    this.file = e.target.files[0]
			    var files = e.target.files || e.dataTransfer.files;
			        if (!files.length)
			            return;
			     this.file = files[0];
			},
			messageModal: function () {
				this.$nextTick(function(){
					$('#messageForm').modal('show');
				})
			},
			openSingleMessageBox: function (id) {
				console.log(id)
				$('#messageForm'+id).modal('show');
			},
			toggleSelect: function() {
				if(this.globalChecked) {
					this.globalChecked = false
					this.$nextTick(function() {
						$('input[type=checkbox]').prop('checked', false)
					})
					this.removeAllFromCustomerArray()
				} else {
					this.globalChecked = true
					this.addAllToCustomerArray()
					this.$nextTick(function() {
						$('input[type=checkbox]').prop('checked', true)					
					})
				}
			},
			updateSearchQuery: function(text) {
				this.searchText = text
				this.refresh = true
				this.getCustomers()
			},
			removeSearchQuery: function() {
				this.searchText = ''
				this.refresh = true
				this.getCustomers()
			},
			tagRemoved: function() {
				// HS: Correct this. Combine tagSelected and getCustomers API to one call
				this.tag_id = -1
				this.refresh = true
				this.getCustomers()
			},
			tagSelected : function(id){
				this.tag_id = id
				this.refresh = true
				this.getCustomers();
			},
			routeToEdit: function (id) {
				this.closeOptionBox(id)
				this.$router.push({
					name: 'singleCustomer', params:{ id : id }
				});
			},
			getCustomers: function () {
				if(this.refresh) {
					this.offset = 0
				}
				this.$http
					.get(api_host + '/users',
					{
						params: {
							search: this.searchText,
							offset: this.offset,
							chunk: this.chunk,
							tag_id: this.tag_id
						},
						headers: {'Authorization': this.$store.state.token }
					}
				)
				.then (
					function (response) {
						console.log(response)
						if(response.body.length == 0) {
							this.showMore = false
							this.loadingCustomers = false
						}
						if(this.refresh) {
							this.customers = response.body
							this.loadingCustomers = false
							this.refresh = false
						} else {
							this.loadingCustomers = false
							for(var x in response.body) {
								this.customers.push(response.body[x])
							}
						}
						this.offset = this.offset+this.chunk;
						this.$emit('setCustomers', this.customers)
					},
					function (error) {
						console.log(error);
					}
				)
			},
			updateSearchQuery: function (type) {
				if(type == 'name') {
					this.searchEmailText = '';
					this.searchMobile='';
					this.searchText = this.searchNameText;
				}
				else if (type == 'email') {
					this.searchNameText = '';
					this.searchMobile='';
					this.searchText = this.searchEmailText
				}
				else if (type == 'mobile') {
					this.searchNameText = '';
					this.searchEmailText='';
					this.searchText= this.searchMobile
				}
				if(this.searchText =='') {
					this.removeSearchQuery();
				}
				this.$http
					.get(api_host + '/search',
					{
						params: {
							search: this.searchText,
							type: type
						},
						headers: {'Authorization': this.$store.state.token }
					}
				)
				.then (
					function (response) {
						this.customers = response.body
						this.$emit('setCustomers',this.customers)
					},
					function (error) {
						console.log(error);
					}
				)
			},
			changeCustomerArray: function (id){
				var customer_array = this.$store.state.customer_array
				var index = $.inArray(id, customer_array)
				if(index ==-1){
					this.$store.commit('addToCustomerArray',id);
				} else {
					this.$store.commit('removeFromCustomerArray', index);
				}
			},
			loadMore: function () {
				this.loadingCustomers =  true
				this.refresh =false
				this.getCustomers();
			},
			addAllToCustomerArray: function () {
				var customer_array = this.$store.state.customer_array
				for(var i in this.customers) {
					var id = this.customers[i].id
					var index = $.inArray(id, customer_array)
					if(index == -1){
						this.$store.commit('addToCustomerArray',id);
					}
				}
			},
			removeAllFromCustomerArray: function () {
				var customer_array = this.$store.state.customer_array
				for(var i in this.customers) {
					var id = this.customers[i].id
					var index = $.inArray(id, customer_array)
					console.log(id+':'+index+' - '+ (index != -1));
					if(index != -1){
						this.$store.commit('removeFromCustomerArray', index);
					}
				}
			},
			exportSelected: function (){
				this.customer_array = this.$store.state.customer_array
				this.$http
				.get(api_host + '/downloadExcel/xls', 
					{
						params: { customer_array: this.customer_array},
						headers : { 'Authorization' : this.$store.state.token }
					},
				)
				.then (
					function (response){
						this.exportedLink = response.body
					},
					function (err) {
						console.log(err)
					}
				)
			},
			sendMessage: function(message){
				$('#messageForm').modal({
					closable: false
				})
				if(this.form.validate()){
					this.messageSending = true
					this.$http
					.post(api_host + '/sendsms' ,
					{
						 message :this.message , customer_ids:this.$store.state.customer_array
					},
					{
						headers : { 'Authorization' : this.$store.state.token }
					}
					)
					.then(
						function (response) {
							console.log('message Send')
							this.messageSending = false
							this.message= ''
							this.$nextTick(function(){
								$('#messageForm').modal('hide');
							})
						},
						function (error) {
							new Noty({
							  type: 'error',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'Something went wrong while sending Message, try again!'
							}).show()
							this.message = ''
							this.messageSending = false
						}
					)
					$('#messageForm').modal({
					closable: true
				})
				}
			},
			sendSingleMessage: function(id){
				$('#messageForm'+id).modal('hide')
				if(this.form.validate()){
					this.messageSending = true
					var customer_ids = new Array()
					customer_ids.push(id)
					this.$http
					.post(api_host + '/sendsms' ,
					{
						 message :this.message , customer_ids:customer_ids
					},
					{
						headers : { 'Authorization' : this.$store.state.token }
					}
					)
					.then(
						function (response) {
							console.log('message Send')
							this.messageSending = false
							this.message= ''
						},
						function (error) {
							new Noty({
							  type: 'error',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'Something went wrong while sending Message, try again!'
							}).show()
							this.messageSending = false
							this.message = ''
						}
					)
				}
			},
			openConfirmBox: function (id){
				$('#customer' + id).modal('show');
			},
			openOptionBox: function (customer) {

				this.$emit('showModal',customer);
				// $('#option-customer'+id).modal('show');
			},
			closeOptionBox: function (id) {
				$('#option-customer'+id).modal('hide')
			},
			Cancel: function (id) {
				$('#customer' + id).modal('hide');
			},
			showImportForm () {
				this.showImport = true
			},
			deleteCustomer: function (customer) {
				this.Cancel(customer.id);
				this.$http
				.delete(api_host + '/customers/' + customer.id,
				{
					headers:{
						Authorization : this.$store.state.token
					}
				}
				)
				.then(
					function (response) {
						this.changeCustomersArray(customer)
					},
					function (error) {
						new Noty({
						  type: 'error',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:1000,
						  text: 'Something went wrong, try again!'
						}).show()
					}
				)
			},
			changeCustomersArray: function (customer) {
				var customers = this.customers
				for(var i in customers) {
					if(customers[i].id == customer.id) {
						this.customers.splice(i,1)
						new Noty({
						  type: 'success',
						  layout: 'topRight',
						  theme: 'mint',
						  timeout:1000,
						  text: customer.first_name + ' ' + customer.last_name + ' has been deleted Successfully'
						}).show()
					}
				}
			}
		},
		filters: {
			moment(val) {
				if(val != null) {
					return moment(val).format('DD/MM/YYYY')
				}
				return '-';
			},
			capitalize: function (value) {
				if (!value) return ''
				value = value.toString()
				return value.charAt(0).toUpperCase() + value.slice(1)
			}
		}
	}
</script>