<template>
	<div class="Content Larger">
		<div class="ui grid">
			<div class="six wide column centered">
				<div class="ui red inverted segment">
					<i class="remove icon"></i> Unauthorized.
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {

	}
</script>