<template>
  <div>
    <header-component v-if="this.$store.state.showHeader"></header-component>
    <div id="Main">
      <div class="no-internet" v-if="!online">
        <div>
          <h2><i class="unlinkify icon"></i>You're not connected!</h2>
          <p>Please check your internet connection. If everything is ok, please refresh the page.</p>
        </div>
      </div>
      <side-bar-component></side-bar-component>
      <div>
        <!-- HS: Added a small transition to make the app smoother -->
        
        <transition 
            name="custom-classes-transition"
            enter-active-class="animated fadeIn faster"
            leave-active-class="animated fadeOut faster"
            mode="out-in"
          >
        <router-view></router-view>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>

require('semantic')
require('parsleyjs');
import SideBarComponent from 'pagetemplate/SideBarComponent.vue';
import HeaderComponent from 'pagetemplate/HeaderComponent.vue';
export default {
  name: 'app',
  data () {
    return {
      showHeader: this.$store.state.showHeader,
      showSideBar: this.$store.state.showSideBar,
      user: this.$store.state.user,
      online: window.navigator.onLine
    }
  },
  components : { SideBarComponent, HeaderComponent},
  created () {
    this.getWishlist()
    this.login();
    var vm = this
    window.addEventListener('online',  function(){
        vm.online = true;
    });
    window.addEventListener('offline',  function(){
        vm.online = false;
    });
  },
  methods: {
    getWishlist: function () {
      this.$http
          .get(api_host + '/wishlist',{
            headers:{
              'Authorization' : this.$store.state.token
            }
          })
            .then(function(response) {
              var products = response.body
              this.$store.commit('removeWishlist')
              for (var i in products) {
                console.log(products[i].id)
                this.$store.commit('addToWishlist', products[i].id)
              }
            },
            function(error) {
              console.log('somehing wrong in getting wishlist')
            }
            )
    },
    changeHeaderStatus: function() {
    },
    login: function () {
      // console.log('123');
      this.$http
        .get(api_host + '/test' , {
          headers: { 'Authorization' : localStorage.getItem('token') }
        })
        .then(
          function (response){
            this.$store.commit('changeHeaderStatus', true);
          },
          function (err){
            console.log('error')
            this.$store.commit('changeHeaderStatus', false);
            this.$router.push({ name: 'login' })
          }
        )
      },
    beforeRouteLeave: function() {
      this.$nextTick(function() {
        $('#Menu').sidebar('hide');
      })
    }
  }
}
</script>
<style>
  body.pushable {
    background: #FEFCF8 !important;
  }
  body.blue.pushable{
    background: #164968;
  }
  .pushable .pusher {
    background: none !important;
    min-height: 100vh;
    box-sizing: border-box;
  }
  .animated.faster {
    -webkit-animation-duration: .1s;
    animation-duration: .1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
</style>
