<template>
	<!-- HS: No offset / chunk mechanism defined here! -->
	<div class="Content Larger">	
	  <div class="ui container">
	    <div class="ui grid">
	      <div class="row ContentHeader">
	        <div class="sixteen wide column">
	          <h1>Users
	          	<a href="#" class="down arrow link needsPopup">
	          	</a>				
				<a href="#" class="ui small icon button basic messageModalButton needsPopup"  data-content="Send Wishlist to Selected" data-position="bottom center" @click.prevent="sendWishlistToSelected" >
				  	<i class="envelope icon"></i>
				</a>
				
				<a href="#" class="ui small icon button basic messageModalButton needsPopup"  data-content="Send SMS to Selected" data-position="bottom center" data-id="messageForm" @click.prevent="messageModal">
				  	<i class="comments icon"></i>
				</a>
				<fields-selection-dropdown v-on:updateVisibleFields='updateVisibleFields' data-content="Columns" data-position="bottom center" class="small needsPopup"></fields-selection-dropdown>
          	</h1>
        </div>
	</div>
	      <div class="row ContentStuff">
  	    	<div class="ui inverted dimmer active" v-if="mailsend">
  	    		<div class="ui text loader">
  	    			
  	    		</div>
  			</div>
			<contacts-table :contactFields='contactFields' :bus="bus" v-on:updateFilters="updateFilters"></contacts-table>
         	<div class="ui modal messageFormModal" id="messageForm">
    	    	<i class="close icon"></i>
    	    	<div class="ui inverted dimmer active" v-if="messageSending">
    	    	  <div class="ui text loader">
    	    	  sending Message...
    	    	  </div>
    	    	</div>
    	    	
    	      <div class="header">
    	        Create Message
    	      </div>
    	      <div class="content">
    	        <form action="#" 
    	        	class="ui form"
					data-parsley-validate
					@submit.prevent="sendMessage()"
					id="send-message"
	        	>
    	          <div class="field">
    	            <label for="">Message</label>
    	            <p>You can use the following wild cards in your message: {name} {email}</p>
    	            <input type="text" v-model="message" />
    	          </div>
    	          <div class="field">
    	            <button class="ui green button">Send Message</button>
    	          </div>
    	        </form>
    	      </div>
            </div>
			
	      </div>
	    </div>
	  </div>
	</div>
</template>
<style>
</style>
<script>
	// HS: API: Chunk & Offset are not working
	// HS: API: Different calls for search, tag and getCustomers. Combine to form 1 just like the products API call
	require('parsleyjs');
    import Noty from 'noty';
    import moment from 'moment';
    require('moment-timezone');
	import Vue from 'vue'
	import FieldsSelectionDropdown from '../contacts/FieldsSelectionDropdown.vue';
	import ContactsTable from 'contacts/ContactsTable.vue';
	export default {
		data () {
			return {
				showImport: false,
				customers : new Array(),
				offset: 0,
				chunk: 24,
				customer_array: this.$store.state.customer_array,
				message:'',
				refresh: false,
				exportedLink: -1,
				globalChecked: false,
				showMore: true,
				loadingCustomers:false,
				messageSending:false,
				customer:'',
				bus: new Vue(),
				mailsend: false,
				data: {
					customer_ids: [],
					product_ids: []
				},
				contactFields: {},
				showGroups: false,
				filters: {}
			}
		},
		computed: {
			isMobile () {
				return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1 || window.innerWidth < 768);
			}
		},
		beforeCreate() {
			// if(!(this.$store.state.user.role.view_user || this.$store.state.user.role.share_product)) {
			// 	this.$router.push({'name': 'unauthorized'});
			// }
		},
		components: { FieldsSelectionDropdown, ContactsTable },
		created () {
			this.user = this.$store.state.user		
		},
		mounted ()
		{
			this.form = $('#send-message').parsley();
			this.$nextTick(function() {
				$('#usersDropdown').dropdown({action:'nothing'})
			})
		},
		beforeRouteLeave(to, from, next) {
			this.$store.commit('removeAllCustomerArray')
			next();
		},
		methods: {
			removeAllFromCustomerArray () {
				this.bus.$emit('removeAllFromCustomerArray')
			},
			resetFilters() {
				this.bus.$emit('resetFilters')
			},
			updateFilters(filters) {
				console.log(filters)
				this.filters = filters
			},
			updateVisibleFields(a) {
				this.contactFields = a
			},
			messageModal: function () {
				if(this.customer_array.length>0) {
					this.$nextTick(function(){
						$('#messageForm').modal('show');
					})
				} else {
					alert('No contacts selected')
				}
				
			},
			showModalInParent: function (customer) {
				this.customer = customer;
				this.customer.dob = customer.dob == null ? null : moment.tz(customer.dob, 'UTC').format('YYYY-MM-DD')
					this.customer.doa = customer.doa == null ? null : moment.tz(customer.doa, 'UTC').format('YYYY-MM-DD')
				var vm = this;
				this.$nextTick(function() {
					$('#option-customer'+vm.customer.id).modal('show');

				})
			},
			openSingleMessageBox: function (id) {
				console.log(id)
				$('#messageForm'+id).modal('show');
			},
			toggleSelect: function() {
				if(this.globalChecked) {
					this.globalChecked = false
					this.$nextTick(function() {
						$('input[type=checkbox]').prop('checked', false)
					})
					this.removeAllFromCustomerArray()
				} else {
					this.globalChecked = true
					this.addAllToCustomerArray()
					this.$nextTick(function() {
						$('input[type=checkbox]').prop('checked', true)					
					})
				}
			},
			SetCustomersinParent: function (customers) {
				this.customers = customers
			},
			routeToEdit: function (id) {
				this.closeOptionBox(id)
				$('.customerEditModal').modal('hide');
				this.$router.push({
					name: 'singleCustomer', params:{ id : id }
				});
			},
			CancelSaveButton: function () {
				$('.saveDialogBox').modal('hide');
			},
			SaveDialog: function () {
				window.open(this.exportedLink, '_blank');
				$('.saveDialogBox').modal('hide');
			},
			sendMessage: function(message){
				$('#messageForm').modal({
					closable: false
				})
				if(this.form.validate()){
					this.messageSending = true
					this.$http
					.post(api_host + '/sendsms' ,
					{
						 message :this.message , customer_ids:this.$store.state.customer_array
					},
					{
						headers : { 'Authorization' : this.$store.state.token }
					}
					)
					.then(
						function (response) {
							console.log('message Send')
							this.messageSending = false
							this.message= ''
							this.$nextTick(function(){
								$('.messageFormModal').modal('hide');
							})
						},
						function (error) {
							new Noty({
							  type: 'success',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'Something went wrong while sending Message, try again!'
							}).show()
							this.message = ''
							this.messageSending = false
						}
					)
					$('#messageForm').modal({
					closable: true
				})
				}
			},
			sendSingleMessage: function(id){
				$('.messageFormModal').modal('hide')
				if(this.form.validate()){
					this.messageSending = true
					var customer_ids = new Array()
					customer_ids.push(id)
					this.$http
					.post(api_host + '/sendsms' ,
					{
						 message :this.message , customer_ids:customer_ids
					},
					{
						headers : { 'Authorization' : this.$store.state.token }
					}
					)
					.then(
						function (response) {
							console.log('message Send')
							this.messageSending = false
							this.message= ''
						},
						function (error) {
							new Noty({
							  type: 'error',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'Something went wrong while sending Message, try again!'
							}).show()
							this.messageSending = false
							this.message = ''
						}
					)
				}
			},
			openWishlistMessageBox: function (customer) {
				$('.OptionCustomerModal').modal('hide');
				$('#wishlist-cus' + customer.id).modal('show');
			},
			sendWishlistToSelected () {
				if(this.customer_array.length > 0) {
					this.data.customer_ids = this.customer_array
					this.data.product_ids = this.$store.state.product_ids
					this.mailsend = true
					this.$http
						.post(api_host + '/send/wishlist', this.data, 
						{
							headers :{
								Authorization : this.$store.state.token
							}
						}
					)
					.then(
						function (response) {
							new Noty({
							  type: 'success',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'Wishlist successfully sent to selected contacts'
							}).show()
							this.mailsend = false
						},
						function (error) {
							new Noty({
							  type: 'error',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'Their was some error in sending the wishlist, check the user`s email and try again'
							}).show()
							this.mailsend = false
						}
					)
				} else {
					alert('No contacts selected');
				}
			},
			sendWishlist : function (customer) {
				$('.wishlistModal').modal('hide');
				if(customer.email == null) {
					$('#customer-edit'+customer.id).modal('show');
				}
				else {
					this.data.customer_ids.push(customer.id)
					this.data.product_ids = this.$store.state.product_ids
					this.mailsend = true
					this.$http
						.post(api_host + '/wishlist', this.data, 
						{
							headers :{
								Authorization : this.$store.state.token
							}
						}
					)
					.then(
						function (response) {
							new Noty({
							  type: 'success',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'Wishlist Successfully send to ' + customer.first_name + ' ' + customer.last_name
							}).show()
							this.mailsend = false
						},
						function (error) {
							new Noty({
							  type: 'error',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout:1000,
							  text: 'Their was some error in sending the wishlist, check the user`s email and try again'
							}).show()
							this.mailsend = false
						}
					)
				}
			},
			cancelWishlist: function (id) {
				$('.wishlistModal').modal('hide');
				$('.customerEditModal').modal('hide');
			},
			openConfirmBox: function (id){
				$('#customer' + id).modal('show');
			},
			openOptionBox: function (id) {
				$('#option-customer'+id).modal('show');
			},
			closeOptionBox: function (id) {
				$('.OptionCustomerModal').modal('hide')
			},
			Cancel: function (id) {
				$('.deleteCustomer').modal('hide');
			}
		},
		filters: {
			capitalize: function (value) {
				if (!value) return ''
				value = value.toString()
				return value.charAt(0).toUpperCase() + value.slice(1)
			}
		}
	}
</script>