<template>
	<div class="ContactsTable" style="position:relative">
		<div class="ui active inverted dimmer" v-if="loadingContacts" style="position:fixed; background: rgba(255,255,255,.1);">
			<div class="ui text loader"></div>
		</div>
			<table class="ui fluid selectable striped unstackable single line celled table thin" :class="{ 'fixedWidth': fixedWidth }" style="padding: 0px; margin:0">
				<table-header :contactFields="contactFields" v-on:sortContactsBy='sortContactsBy'></table-header>
				<contact-filters :contactFields="contactFields" :bus="bus" v-on:updateFilters="updateFilters" v-on:toggleSelect="toggleSelect"></contact-filters>
				<contact-row v-for="(contact, index) in contacts" :contact="contact" :index='index' :contactFields='contactFields' v-on:showContactDetails="showContactDetails" :key="contact.id + contact.updated_at"></contact-row>
				<table-footer :contactFields="contactFields" :loadingContacts="loadingContacts" :contactsEnd="!showMore" v-on:loadMoreContacts="loadMoreContacts"></table-footer>
			</table>
		<single-contact-modal 
			:contact='singleContact' 
			:index='singleContactIndex' 
			:bus="bus" 
			:user="user"
			@getNextContact='getNextContact'
			@getPrevContact='getPrevContact'
			@deleted='removeFromList'
			@edited='editContactInList'
		></single-contact-modal>
	</div>
</template>
<script>
	import Vue from 'vue'
	import Noty from 'noty'
	import TableHeader from 'contacts/table/TableHeader.vue'
	import ContactFilters from 'contacts/table/ContactFilters.vue'
	import ContactRow from 'contacts/table/ContactRow.vue'
	import TableFooter from 'contacts/table/TableFooter.vue'
	import SingleContactModal from 'contacts/table/SingleContactModal.vue'
	import _ from 'lodash'
	export default {
		props: ['contactFields', 'bus'],
		components: {TableHeader, ContactFilters, ContactRow, TableFooter, SingleContactModal},
		data () {
			return {
				refresh: false,
				offset: 0,
				limit: 24,
				chunk: 24,
				first_time: true,
				globalChunk: this.$store.state.pagination_chunk,
				fixedWidth: true,
				showMore: true,
				user: {},
				contacts: new Array(),
				loadingContacts: false,
				singleContact: {},
				singleContactIndex: -1,
				showSingleContactModal: false,
				filters: {},
				sort_by: 'id',
				sort_order: 'DESC',
				globalChecked: false
			}
		},
		created() {
			this.getContacts()
			this.user = this.$store.state.user
		},
		mounted() {
			
		},
		methods: {
			toggleSelect() {
				if(this.globalChecked) {
					this.globalChecked = false
					this.$nextTick(function() {
						$('input[type=checkbox]').prop('checked', false)
					})
					this.removeAllFromCustomerArray()
				} else {
					this.globalChecked = true
					this.addAllToCustomerArray()
					this.$nextTick(function() {
						$('input[type=checkbox]').prop('checked', true)					
					})
				}
			},
			addAllToCustomerArray: function () {
				var customer_array = this.$store.state.customer_array
				for(var i in this.contacts) {
					var id = this.contacts[i].id
					var index = $.inArray(id, customer_array)
					if(index == -1){
						this.$store.commit('addToCustomerArray',id);
					}
				}
			},
			removeFromList(contact) {
				for(var i in this.contacts) {
					if(this.contacts[i].id == contact.id) {
						this.contacts.splice(i,1);
					}
				}
			},
			editContactInList(editedContact) {
				for(var i in this.contacts) {
					if(this.contacts[i].id == editedContact.id) {
						this.contacts.splice(i, 1, editedContact)
					}
				}
			},
			removeAllFromCustomerArray: function () {
				var customer_array = this.$store.state.customer_array
				for(var i in this.contacts) {
					var id = this.contacts[i].id
					var index = $.inArray(id, customer_array)
					if(index != -1){
						this.$store.commit('removeFromCustomerArray', index);
					}
				}
				this.globalChecked = false
			},
			getContacts: function (nextContactCallback = -1) {
				this.loadingContacts = true
				this.bus.$emit('loadingContacts')
				if(this.refresh) {
					this.offset = 0
				}
				var localChunk = this.chunk;
				if(this.first_time) {
					localChunk = this.globalChunk ? this.globalChunk : this.chunk
					this.first_time = false
				}
				this.$http
					.get(api_host + '/users',
					{
						params: {
							offset: this.offset,
							chunk: localChunk,
							filters: JSON.stringify(this.filters),
							sort_by: this.sort_by,
							sort_order: this.sort_order
						},
						headers: {'Authorization': this.$store.state.token }
					}
				)
				.then (
					function (response) {
						if(response.body.length == 0 || response.body.length < localChunk) {
							this.showMore = false
							this.loadingContacts = false
						}
						if(this.refresh) {
							this.contacts = response.body
							this.loadingContacts = false
							this.showMore = true
							this.refresh = false
							this.$store.commit('resetChunk');
						} else {
							this.loadingContacts = false
							this.$store.commit('increaseChunk', this.chunk);
							for(var x in response.body) {
								this.contacts.push(response.body[x])
							}
						}
						this.offset = this.offset + localChunk;
						this.bus.$emit('loadingContactsDone')
						if(nextContactCallback != -1) {
							this.getNextContact()
						}
						
					},
					function (error) {
						console.log(error);
						this.loadingContacts = false
						this.bus.$emit('loadingContacts')
					}
				)
			},
			sortContactsBy(a,b) {
				this.sort_by = a
				this.sort_order = b
				this.refresh = true
				this.getContacts()
			},
			getNextContact() {
				if(this.singleContactIndex+1 != this.contacts.length) {
					this.singleContactIndex += 1
					this.singleContact = this.contacts[this.singleContactIndex]
				} else {
					this.getContacts(1)
				}
			},
			getPrevContact() {
				if(this.singleContactIndex !=0) {
					this.singleContactIndex -= 1
					this.singleContact = this.contacts[this.singleContactIndex]
				}
			},
			loadMoreContacts () {
				this.loadingContacts =  true
				this.refresh = false
				this.getContacts();
			},
			showContactDetails(contact, index) {
				this.singleContact = contact
				this.singleContactIndex = index
				this.bus.$emit('showSingleContactModal')
			},
			getLatestFilters() {
				console.log('getting')
				this.bus.$emit('giveMeLatestFilters');
			},	
			updateFilters(filters) {
				this.filters = filters
				this.refresh = true
				this.getContacts()
				this.$emit('updateFilters', this.filters)
			}
		}
	}
</script>