<template>
		<div class="">
			<form 
				action="#" 
				class="ui form"
				data-parsley-validate
				id="customer-id-edit"
				@submit.prevent ="editCustomer"
			>
			<div class="ui">
				<div class="two fields">
					<div class="field">
					  <label for="">First Name <span class="required">*</span></label>
					  <input type="text" v-model="customer.first_name"  autofocus >
					</div>
					<div class="field">
					  <label for="">Last Name</label>
					  <input type="text" v-model="customer.last_name">
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<div class="fields" style="margin-bottom:0px">
						 <div class="five wide field">
						   <label for="">Mobile Number <span class="required">*</span></label>
						   <div class="ui fluid search selection dropdown" id="CallingCodeDropdown">
						     <input type="hidden" >
						     <i class="dropdown icon"></i>
						     <div class="default text">Select Country</div>
						     <div class="menu">
						       <div class="item" v-for="country in countries" :data-value=" country.id">
						         <i class="flag" :class="country.iso_3166_2 | lowercase"></i>
						         {{ country.calling_code }}
						       </div>
						     </div>
						   </div>
						 </div>
						 <div class="eleven wide field">
						   <label for="">&nbsp;</label>
						   <input type="text" v-model="customer.mobile" data-parsley-pattern="/^[0]?[789]\d{9}$/" required  >
						 </div>
						</div>
					</div>
					<div class="field">
					  <label for="">Gender <span class="required">*</span></label>
					  <select name="" id="" v-model="customer.gender" class="ui selection dropdown">
					    <option value="M">Male</option>
					    <option value="F">Female</option>
					  </select>
					</div>
				</div>

				<div class="field">
					<label for="">Tags <span class="required">*</span></label>
					<multiselect 
	                  v-model="tag" 
	                  :options="tags" 
	                  :multiple="true"
	                  :searchable="true"
	                  :close-on-select="true"
	                  :hide-selected="true"
	                  :block-keys="['Tab']"
	                  placeholder="Select Tags" 
	                  label="name" 
	                  track-by="id">
	                </multiselect>
				</div>
				<div class="two fields">
					<div class="field">
					  <label for="">Date of Birth</label>
					  <Flatpickr :options="fpOptions" v-model="customer.dob" id="dob"/>
					</div>
					<div class="field">
					  <label for="">Date of Anniversary</label>
						<Flatpickr :options="fpOptions" v-model="customer.doa" data-parsley-notequalto="#dob"/>
					</div>
				</div>
				<div class="two fields">
					<div class="field">
					  <label for="">Home Phone</label>
					  <input type="text" v-model="customer.home_phone" data-parsley-type="digits">
					</div>
					<div class="field">
					  <label for="">Email</label>
					  <input type="text" v-model="customer.email"  data-parsley-type="email" >
					</div>
				</div>
				<div class="field">
				  <label for="">Address Line 1</label>
				  <input type="text" v-model="customer.address_line_one"   >
				</div>
				<div class="field">
				  <label for="">Address Line 2</label>
				  <input type="text" v-model="customer.address_line_two"  >
				</div>
				<div class="two fields">
					<div class="field">
					  <label for="">City</label>
					  <input type="text" v-model="customer.city">
					</div>
					<div class="field">
					  <label for="">State</label>
					  <input type="text" v-model="customer.state">
					</div>
				</div>
				<div class="two fields">
					<div class="field">
					  <label for="">Pin Code</label>
					  <input type="text" v-model="customer.pin_code" data-parsley-type="digits">
					</div>
					<div class="field"> 
					  <label for="">Country</label>
					  <div class="ui fluid search selection dropdown" id="CountryDropdown">
					    <input type="hidden">
					    <i class="dropdown icon"></i>
					    <div class="default text">Select Country</div>
					    <div class="menu">
					      <div class="item" v-for="country in countries" :data-value=" country.country_code" >
					        <i class="flag" :class="country.iso_3166_2 | lowercase"></i>
					        {{ country.name }}
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="field">
					<label for="">Notes</label>
					<textarea name="" id="" rows="3" v-model="customer.notes"></textarea>
				</div>
				<div class="field">
					<label for="">Company</label>
					<input type="text" v-model="customer.company" >
				</div>
				<div class="field">
					<button class="ui large button Gold">Save Contact</button>
					<button class="ui large button" @click.prevent="closeEditForm">Cancel</button>
				</div>
			</div>
			</form>
		</div>
</template>
<script>
	import Multiselect from 'vue-multiselect'
	import moment from 'moment';
	require('moment-timezone');
	require('parsleyjs');
	import Noty from 'noty';
	export default {
		data () {
			return {
				fpOptions: {
				    enableTime: false,
				    time_24hr: true,
				    onReady: function(dateObj, dateStr, instance) {
					    var $cal = $(instance.calendarContainer);
					    if ($cal.find('.flatpickr-clear').length < 1) {
					        $cal.append('<div class="flatpickr-clear" style="border: 2px thick;border: solid 1px;width: 30%;margin: auto;border-radius: 2px;background-color: #red;padding: 0xp;">Clear</div>');
					        $cal.find('.flatpickr-clear').on('click', function() {
					             instance.clear();
					             instance.close();
					         });
					    	}
					}
				},
				customerTemp:{},
				tag:'',
				tags:[],
				countries:[],
				country: '',
				pathName:''
			}
		},
		props: ['customer'],
		beforeCreate() {
			if(!this.$store.state.user.role.edit_user) {
				this.$router.push({'name': 'unauthorized'})
			}
    	},
		components: { Multiselect },
		created () {
      		this.getCountries()
			this.getCustomer();
			this.getTags();
		},
		beforeRouteEnter (to, from, next) {
		  next(vm => {
		    vm.pathName = from.name
		  })
		},
		mounted () {
			this.$nextTick(function(){
				this.form = $('#customer-id-edit').parsley();
				window.ParsleyValidator.addValidator('notequalto', 
				    function (value, requirement) {
				        return value !== $(requirement).val();
				    }, 32)
				    .addMessage('en', 'notequalto', 'This value should not be the same as DOB.');
			})
		},
		methods: {
			getCustomer:function () {
				this.customerTemp = this.customer
				this.prepareCustomer();
				window.selectedCountry = this.customer.country_id
				this.$nextTick(function() {
				  setTimeout(function() {
				    $('#CountryDropdown').dropdown('set selected', window.selectedCountry);
				    $('#CallingCodeDropdown').dropdown('set selected', window.selectedCountry );
				  }, 500);
				})
			},
			prepareCustomer: function () {
				this.customer.address_line_one = this.customerTemp.address_line_one
				this.customer.address_line_two = this.customerTemp.address_line_two
				this.customer.email = this.customerTemp.email
				this.customer.gender = this.customerTemp.gender
				this.customer.company = this.customerTemp.company
				this.customer.home_phone = this.customerTemp.home_phone
				this.customer.dob = this.customerTemp.dob == null ? null : moment.tz(this.customerTemp.dob, 'UTC').format('YYYY-MM-DD')
				this.customer.doa = this.customerTemp.doa == null ? null : moment.tz(this.customerTemp.doa, 'UTC').format('YYYY-MM-DD')
				this.customer.first_name = this.customerTemp.first_name
				this.customer.last_name = this.customerTemp.last_name
				this.customer.notes = this.customerTemp.notes
				this.customer.mobile = this.customerTemp.mobile
				this.customer.pin_code = this.customerTemp.pin_code
				this.customer.country_id = this.customerTemp.country_id
				this.customer.state = this.customerTemp.state
				this.customer.city = this.customerTemp.city
				this.tag = this.customerTemp.tags
			},
			getTags: function () {
				this.$http
					.get(api_host + '/tags',
					{
						headers:{
							Authorization : this.$store.state.token
						}
					}
				)
				.then(
					function (response) {
						this.tags = response.body
					},
					function (error) {	
						console.log(error)
					}
				)
			},
			editCustomer: function () {
				if(this.form.validate()) {
					this.customer.country_id = parseInt(this.customer.country_id)
					this.$http
						.patch(api_host + '/customers/' + this.customer.id, this.customer,
						{
							headers: {
								Authorization : this.$store.state.token
							}
						}
					)
					.then(
						function (response) {
							new Noty({
							  type: 'success',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout: 1000,
							  text: this.customer.first_name + ' ' + this.customer.last_name + ' has been updated Successfully'
							}).show()
							this.$emit('customerEditedSuccessfully', response.body)
							$(window).scrollTop(0)
						},
						function (error) {
							if(error.body.hasOwnProperty('mobile')){
								var errorMessage= "Mobile Number already taken, use another!";
							}
							new Noty({
							  type: 'error',
							  layout: 'topRight',
							  theme: 'mint',
							  timeout: 1000,
							  text: errorMessage
							}).show()
						}
					)
				}
			},
			closeEditForm() {
				this.$emit('closeForm')
			},
			getCountries: function (){
			  this.$http
			    .get(api_host + '/countries',
			    {
			      headers: {
			        Authorization: this.$store.state.token
			      }
			    }
			  )
			  .then(
			    function(response) {
			      this.countries = response.body
			      	var vm = this
			      this.$nextTick(function (){
			      	console.log(vm.customer.country_id)

			      	$('#CallingCodeDropdown').dropdown({
			      	  onChange: function(val, t, choice) {
			      	    vm.customer.country_id = val
			      	    $('#CountryDropdown').dropdown('set selected', val);
			      	  }
			      	});
			      	$('#CountryDropdown').dropdown({
			      	  onChange: function(val, t, c) {
			      	    vm.country_id = val
			      	    $('#CallingCodeDropdown').dropdown('set selected', val);
			      	  }
			      	})
			      	$('#CountryDropdown').dropdown('set selected', vm.customer.country_id)
			      })
			    },
			    function (error) {
			      console.log(error)
			    }
			  )
			}
		},
		watch:  {
			tag : function(val) {
				console.log(val)
				this.customer.tags= new Array()
				for(var i in val){
					this.customer.tags.push(val[i].id)
				}
			},
		},
		filters: {
			lowercase: function(v) {
				return v.toLowerCase();
			},
			capitalize: function (value) {
				if (!value) return ''
				value = value.toString()
				return value.charAt(0).toUpperCase() + value.slice(1)
			}
		}
	}
</script>