<template>
	<div class="ui icon top right pointing dropdown basic button" id="visibleFieldsDropdown">
	  <i class="wrench icon"></i>
	  <div class="menu">
	  	<div class="item">
	  		<div class="ui checkbox">
	  			<input type="checkbox" v-model="contactFields.name">
	  			<label for="">Name</label>
	  		</div>
	  	</div>
	  	<div class="item">
	  		<div class="ui checkbox">
	  			<input type="checkbox" v-model="contactFields.email">
	  			<label for="">Email</label>
	  		</div>
	  	</div>
	  	<div class="item">
	  		<div class="ui checkbox">
	  			<input type="checkbox" v-model="contactFields.mobile">
	  			<label for="">Mobile</label>
	  		</div>
	  	</div>
	  	<div class="item">
	  		<div class="ui checkbox">
	  			<input type="checkbox" v-model="contactFields.status">
	  			<label for="">Status</label>
	  		</div>
	  	</div>
	  </div>
	</div>
</template>
<script>
	export default {
		data () {
			return {
				contactFields: {
				name: true,
				email: false,
				mobile: true,
				status: false
			}
			}
		},
		computed: {
			isMobile () {
				return (typeof window.orientation !== "undefined") || (navigator.userAgent.indexOf('IEMobile') !== -1 || window.innerWidth < 768);
			}
		},
		created () {
			this.$nextTick(function() {
				$('#visibleFieldsDropdown').dropdown({
					action: 'nothing'
				});
			})
			this.$emit('updateVisibleFields', this.contactFields)
		},
		mounted () {
			if(!this.isMobile) {
				this.contactFields.email = true
				this.contactFields.status = true
				this.$emit('updateVisibleFields', this.contactFields)
			}
		}
	}
</script>