<template>
	 <div class="columns is-vcentered login">
        <div class="login column is-6" >
          <section class="section">
            <div class="has-text-centered">
                <img class="login-logo" src="https://media.glassdoor.com/sql/1465362/target-integration-squarelogo-1479290890437.png">
            </div>
            <form action="#"
                class="column is-vcentered" 
                id="sign-in"
                data-parsley-validate
                @submit.prevent = "signIn"
            >
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-right">
                  <input class="input" type="email" v-model="email"data-parsley-type="email">
                  <span class="icon is-small is-right">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
              </div>

              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-right">
                  <input class="input" type="password" v-model="password">
                  <span class="icon is-small is-right">
                    <i class="fa fa-key"></i>
                  </span>
                </div>
              </div>
              <div class="has-text-centered">
                <button type="submit" class="button is-vcentered is-primary is-outlined">Login</button>
              </div>
            </form>
            <div class="has-text-centered">
              <router-link :to="{name: 'signup'}">
                Don't you have an account? Sign up now!
              </router-link>
            </div>
          </section>
        </div>
        <!-- <div class="interactive-bg column is-8"> -->
          <vue-particles color="#dedede" class="interactive-bg column is-6"></vue-particles>
        <!-- </div> -->
      </div>
</template>
</template>


<script>
import $ from 'jquery'
require('parsleyjs')
export default {
  name: 'login',
  data () {
    return {
      email: '',
      password: '',
      loading: false,
      isAuthenticated: true
    }
  },
  mounted () {
    this.form = $('#sign-in').parsley();
  },
  beforeCreate () {
    this.$nextTick(function() {
      $('#Menu').sidebar('hide');
    })
  },
  created () {
    // this.checkIfAuthenticated();
  },
  beforeDestroy() {
    $('body').removeClass('blue');
  },
  methods: {
    checkIfAuthenticated: function () {
      var token = localStorage.getItem('token')
      this.$http
        .get(api_host + '/test',
          {
            headers: { 'Authorization': token }
          }
        )
        .then(
          function (response) {
            this.$store.commit('changeHeaderStatus', true)
            this.$emit('changeHeaderStatus')
            this.$router.push({'name': 'dashboard'})
          },
          function (error) {
            
          }
        )
    },
    signIn: function() {
      this.isAuthenticated = true
      if(this.form.validate()) {
        this.loading = true
        this.$http
          .post(api_host + '/signin', {
          'email': this.email,
          'password' : this.password
        })
        .then(
          function (response) {
            localStorage.setItem('token', response.body.token);
            this.$store.commit('loggedIn',response.body.token)
            this.$store.commit('userDetailsChange', response.body.user)
            this.$store.commit('changeHeaderStatus', true)
            this.$emit('changeHeaderStatus')
            this.$router.push({'path': '/'})
          },
          function (err) {
            this.isAuthenticated = false
            this.loading = false
          }
        )
      }
    }
  }
}
</script>
