<template>
	
</template>

<script>
	export default {
		data () {
			return {
			}
		},
		// HS: Formatting!
		created () {
			this.$http
				.post(api_host + '/logout', '' ,
					{
						headers: { 
							'Authorization' : localStorage.getItem('token'),
							'content-type'  : 'application/json'
						}
					}
				)
				.then(
					function (response){
						// HS: Changed to named route
						this.$store.commit('loggedOut');
	          			this.$store.commit('changeHeaderStatus', false);
						this.$router.push({'name': 'login'});
					},
					function (err) {
						// HS: If error, still move to login, clear the token atleast
						this.$store.commit('loggedOut');
	          			this.$store.commit('changeHeaderStatus', false);
						this.$router.push({'name': 'login'});
					}
				)
		}
	}
</script>