<template>
   <div class="columns is-vcentered">
      <div class="login column is-6" >
        <section class="section">
          <div class="has-text-centered">
              <img class="login-logo" src="https://media.glassdoor.com/sql/1465362/target-integration-squarelogo-1479290890437.png">
          </div>
          <form 
            action="#" 
            class="column is-vcentered" 
            id="sign-in"
            data-parsley-validate
            @submit.prevent = "signUp"
            >
            <div class="field">
              <label class="label">Name</label>
              <div class="control has-icons-right">
                <input class="input" type="text" v-model="user.name" required>
                <span class="icon is-small is-right">
                  <i class="fa fa-user"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-right">
                <input class="input" type="email" v-model="user.email" data-parsley-type="email">
                <span class="icon is-small is-right">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <p class="help is-danger" v-if="emailExists">This email is already register.Try login</p>
            </div>
            <div class="field">
              <label class="label">Mobile</label>
              <div class="control has-icons-right">
                <input class="input" type="text" v-model="user.mobile_number" required data-parsley-mobile="#mobile">
                <span class="icon is-small is-right">
                  <i class="fa fa-mobile"></i>
                </span>
              </div>
              <p class="help is-danger" v-if="mobileExists">{{mobileErrorMessage}}</p>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-right">
                <input class="input" v-model="user.password" type="password" required>
                <span class="icon is-small is-right">
                  <i class="fa fa-key"></i>
                </span>
              </div>
            </div>
            <div class="has-text-centered">
              <button type="submit" class="button is-vcentered is-primary is-outlined">Sign Up!</button>
            </div>
          </form>
          <div class="has-text-centered">
            <router-link :to="{name: 'login'}">Already have an account? Log in now !</router-link>
          </div>
        </section>
      </div>
      <vue-particles color="#337ab7" :clickEffect="true" class="interactive-bg column is-6">
      </vue-particles>
      </div>
    </div>
</template>

<script>
import $ from 'jquery'
import parsleyjs from 'parsleyjs'
// require('parsleyjs')

export default {
  name: 'signup',
  data () {
    return {
      user:{
        email: '',
        name:'',
        mobile_number:'',
        password: '',
        isAuthenticated: true
      },
      mobileExists: false,
      mobileErrorMessage: 'This mobile is not valid Indian number',
      emailExists: false
    }
  },
  mounted () {
    this.form = $('#sign-in').parsley();
    window.ParsleyValidator.addValidator('mobile', 
            function (value, requirement) {
                return this.mobileExists
            }, 32)
            .addMessage('en', 'mobile', 'The mobile number has already been taken.');
  },
  cretaed () {
    console.log('Welcome to my app')
  },
  methods : {
    signUp: function() {
      this.isAuthenticated = true
      if(this.form.validate()) {
        this.$http
          .post(api_host + '/signup', {
          'email': this.user.email,
          'name': this.user.name,
          'mobile_number': this.user.mobile_number,
          'password' : this.user.password
        })
        .then(
          function (response) {
            console.log(response)
            localStorage.setItem('token', response.body.token);
            this.$store.commit('loggedIn',response.body.token)
            this.$store.commit('userDetailsChange', response.body.user)
            this.$router.push({'path': '/'})
          },
          function (err) {
            // console.log(err.bodyText[0])
            if(JSON.parse(err.bodyText).mobile_number[0] == 'The mobile number has already been taken.') {
               console.log("we are here");
               this.mobileExists =  true
            }
            else if(JSON.parse(err.bodyText).mobile_number[0] == 'validation.mobile_validation') {
              this.mobileExists = true
            }
            if(JSON.parse(err.bodyText).email[0] == 'The email has already been taken.') {
               console.log("we are here");
               this.emailExists =  true
            }
            this.isAuthenticated = false
          }
        )
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}
.interactive-bg {
  height: 100vh;
  background-color: #00d1b2;
  -webkit-box-shadow: inset 24px 4px 64px -24px rgba(71,71,71,1);
  -moz-box-shadow: inset 24px 4px 64px -24px rgba(71,71,71,1);
  box-shadow: inset 24px 4px 64px -24px rgba(71,71,71,1);
  padding: 0px;
}
.container{
  background:#00f;
  text-align:center;
  padding:40px;
}

.container a{
  position:relative;
  z-index:9999;
  color:#fff;
  font-size:32px;
}

.container a:hover{
  color:#f00;
}
</style>
